<div class="page">
    <!--    <strong data-ng-hide="profileId == 13"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>-->
    <section class="panel panel-default" data-ng-show="profileId == 2">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Tranche Disbursement Details</strong></div>
        <div class="panel-body">
            <div class="sourcing col-md-12 " id="form_sourcing" data-ng-init="preloadBuilderLoanDetails()" data-ng-controller="builderLoanDetailsCtrl">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" ng-submit="submitBuilderDetails()" name="sourcingValid" novalidate>

                    <!--                    <div class="form-group">
                                            <div class="col-md-12 sourcingHead">
                                                <div class="col-md-6 no_padding"><b>Builder Code</b> : {{builderAccountDetail.builderCode}} </div>
                                                                          
                                                <div class="col-md-6 no_padding"><b> Name</b> : {{builderAccountDetail.accountName}} </div>
                                                                           
                                            </div>
                                            
                                        </div>-->

                    <div class="form-group">
                        <div class="col-md-12">
                            <table border="0" class="table-responsive col-md-12 no_padding">
                                <tr>
                                    <td class="col-md-4 no_padding"><label>Requested Amount</label></td>
                                    <td class="col-md-8 no_padding"><input type="text" maxlength="20"  data-ng-model="builderLoanDetails.requestedAmt" name="" class="form-control"  required></td>
                                </tr>

                                <tr>
                                    <td class="col-md-4 no_padding"><label>Demand Letter No.</label></td>
                                    <td class="col-md-8 no_padding"><input type="text" maxlength="20"  data-ng-model="builderLoanDetails.DemandLetterUpload" name="" class="form-control"  required></td>
                                </tr>

                                <tr>
                                    <td colspan="1" class="col-md-4 no_padding"><label>Architect Report</label></td>
                                    <td colspan="2" class="col-md-4 no_padding"><input type="text" maxlength="20"   data-ng-model="builderLoanDetails.ArchitectReportUpload" name="" class="form-control"  required></td>
                                </tr>


                            </table>
                        </div>
                        
                        <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12 align_right">
                                                <button class="btn btn-primary btn-success" type="button" ><i class="fa fa-check"></i> Submit</button>
                                                <!--<button class="btn btn-primary btn-danger"  type="button"><i class="fa fa-check"></i> Reject</button>-->
                                            </div>
                        </div>
                    </div>







                    <!--                    <div class="form-group">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12 align_right">
                                                <button class="btn btn-primary btn-success" type="button" ><i class="fa fa-check"></i> Approve</button>
                                                <button class="btn btn-primary btn-danger"  type="button"><i class="fa fa-check"></i> Reject</button>
                                            </div>
                    
                                        </div>-->
                </form>
            </div>
        </div>
    </section>

</div>