<div class="page">
    <!--    <strong data-ng-hide="profileId == 13"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>-->
    <section class="panel panel-default" data-ng-show="profileId == 2">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> CRM Details</strong></div>
        <div class="panel-body">
            <div class="sourcing col-md-12 " id="form_sourcing" data-ng-init="preloadBuilderStatusDetails()" data-ng-controller="builderStatusDetailsCtrl">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" ng-submit="submitBuilderDetails()" name="sourcingValid" novalidate>

                    <!--                    <div class="form-group">
                                            <div class="col-md-12 sourcingHead">
                                                <div class="col-md-6 no_padding"><b>Builder Code</b> : {{builderAccountDetail.builderCode}} </div>
                                                                          
                                                <div class="col-md-6 no_padding"><b> Name</b> : {{builderAccountDetail.accountName}} </div>
                                                                           
                                            </div>
                                            
                                        </div>-->

                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>OCR Collected</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="checkbox" data-ng-model="builderLoanDetails.OCRCollectedcheckbox" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>OCR Amount</label>
                        </div>
                        <div class="col-sm-8">
                            <!--<input type="text" data-ng-model="builderLoanDetails.OCRAmount" >-->
                            <input type="text" maxlength="20"  data-ng-model="builderLoanDetails.requestedAmt" name="" class="form-control"  required>
                        </div>
                    </div>

                    <div class="col-md-12">
                        &nbsp;
                    </div>
                    <div class="col-md-12 align_right">
                        <button class="btn btn-primary btn-success" type="button" ><i class="fa fa-check"></i> Submit</button>
                        <!--<button class="btn btn-primary btn-danger"  type="button"><i class="fa fa-check"></i> Reject</button>-->
                    </div>





                    <!--                    <div class="form-group">
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            
                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-12 align_right">
                                                <button class="btn btn-primary btn-success" type="button" ><i class="fa fa-check"></i> Approve</button>
                                                <button class="btn btn-primary btn-danger"  type="button"><i class="fa fa-check"></i> Reject</button>
                                            </div>
                    
                                        </div>-->
                </form>
            </div>
        </div>
    </section>

</div>