<style>
    .doc-panel-body {margin-left:25px !important;margin-top:10px !important; padding:0px !important;}
    table {border:1px soild #ccc}
</style><div class="page">
    <section class="panel panel-default table-dynamic table-responsive" style="border:1px solid #ccc; float:left; margin:10px 0px; width:100%">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Biomatric Verify</strong> 
        </div>

        <div class="panel-body" data-ng-init="preloadBiomatricVerify()" data-ng-controller="biomatricVerifyController">
            <!--<strong data-ng-hide="profileId == 1 || profileId == 2"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
            <!--<section class="panel panel-default table-dynamic table-responsive" data-ng-disabled="isDisabledPostSanction">-->
            <div class="sourcing col-md-12 " id="form_sourcing">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="bioValid" novalidate>
                    <div class="form-group no-margin">
                        <label class="col-sm-4" for="label-focus"> <span
                                class="error"
                                ng-show="bioValid.aadharNo.$error.required">
                            </span>Aadhaar Number
                        </label>
                        <div class="col-sm-8">
                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                   data-ng-model="aadharNo" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="aadharNo" required>
                        </div>
                    </div>
                    &nbsp;
                    <div class="col-sm-12" >
                        <button class="btn btn-primary" style="float:left" data-ng-click="captureBiometric()" type="button">Capture Biometric</button>
                        &nbsp;
                        <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="sumbitBio()" >Submit</button>
                    </div>

                </form>

            </div>
        </div>

    </section>
</div>