<div class="page page-table" data-ng-init="loadSearchCriteria();preloadPostSanctionDashboard(fromRowNum, toRowNum)" data-ng-controller="documentDashboardCtrl">

    <!-- DashBoard Table Starts-->
     <strong data-ng-hide="profileId == 1 || profileId == 2 || profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>
    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1 || profileId == 2 || profileId == 8">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> PDD Dashboard</strong></div>

<!--                <div class="row">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.criteria}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="tel" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate()">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
                            <span>
                                                        Total {{totalItems}} Record(s) Found
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            </span>              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        
         <div class="table-responsive">
           <section class="panel panel-default table-dynamic table-responsive" style="width: 100%; height:400px; overflow: auto;">

        <table class="table table-bordered table-striped scrollable" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                            Application Id /<br><br>
                                Applicant Name
                    </div></th>
                    
                       <th><div class="th">
                                    Application Date
                                     <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                                </div>
                            </th>
                    
<!--                    <th><div class="th">
                      Applicant Name
                    </div></th>-->
                    
                    <th ><div class="th" >
                                    Asset 
                        </div></th>
                      <th><div class="th">
                        PDD Status
                    </div></th>
                    <th><div class="th">
                            
                        Asset Cost
                    </div></th>
                    
                    <th><div class="th">
                        Loan Amount
                    </div></th>
                    
                    <th><div class="th">
                        Margin Money
                    </div></th>
                      <th><div class="th" style="width:60px">
                                Advance EMI
                              </div></th>
                    <th><div class="th" style="width: 60px">
                        Charges
                    </div></th>
                    
                    <th><div class="th"style="width: 65px">
                        CLI Premium
                    </div></th>
<!--                    
                    <th><div class="th">
                        PDD Status
                    </div></th>-->
<!--                    
                    <th><div class="th">
                        Invoice Number
                    </div></th>-->
                    
<!--                    <th><div class="th">
                           Invoice Number
                           Engine Number
                           Chassis Number
                    </div></th>-->
  
                    <th><div class="th" style="width: 120px">
                                    <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true"  type="button">I</button> Invoice No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon" class="fa fa-check " tooltip="Engine No." tooltip-append-to-body="true" type="button">E</button> Engine No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon" class="fa fa-check " tooltip="Chassis No." tooltip-append-to-body="true" type="button">C</button> Chassis No.
                                </th>
<!--                    <th><div class="th">
                        Chassis Number
                    </div></th>-->
                    
                    <th><div class="th">
                        Action Date
                    </div></th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationId" placeholder="Search" type="text"  /></td>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationDate" style="width: 151px" placeholder="Search" type="date"  /></td>
                            
                            <!--                         <td><input class="form-control col-md-6" ng-model="searchApplicant_Name" placeholder="Search1" type="text"  /></td>-->
                            <td >
                                <!--<input class="form-control col-md-6" ng-model="searchStatus" placeholder="Search" type="text"  />-->
<!--                                <span>
-->                                    <select class="form-control" data-ng-model="searchStatus" class="form-control col-md-6" style="width:100px;">
                                        <option value="">Select</option>
                                        <option value="Loan Sanctioned, Invoice Awaited">Loan Sanctioned, Invoice Awaited</option>
                                        <option value="Pending Invoice Confirmation">Pending Invoice Confirmation</option>
                                    </select>  <!--
                                </span>-->
                            </td>
                            <td><input class="form-control col-md-6" ng-model="searchAsset_Manufacturer" placeholder="Search" type="text"  />
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
<!--                            <td>
                            </td>-->
<!--                            <td>
                            </td>-->
<!--                            <td>
                            </td>
                            <td>
                            </td>-->
                           <td>
                            </td> 
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse" ng-init="sectionIndex =$index" >
                    <td><a data-ng-click="showform(store.applicationId, store.progress, store.pddStatus)" class="active_link">{{store.applicationId}}<br><br> {{store.applicatName}}</a></td>
                    <td>{{store.applicationDate |date : "yyyy-MM-dd"}}</td>
                    
<!--                    <td>{{store.applicatName}}</td>-->
                    <td>
                       {{store.assetManufacturer+" "+store.assetMake+" "+store.assetModel}}
                    </td>
                      <td>{{store.pddStatus}}</td>
                    <td>
                       {{store.assetCostESR != null && store.assetCostESR !="" ? store.assetCostESR : 0}}
                    </td>
                    <td>
                       {{store.loanAmount != null && store.loanAmount !="" ? store.loanAmount : 0}}
                    </td>
                    <td>
                       {{store.marginMoney != null && store.marginMoney !="" ? store.marginMoney : 0}}
                    </td>
                      <td>
                     00
                    </td>
                    
<!--                    <td>
                       {{store.processingFees != null && store.processingFees !="" ? store.processingFees : 0}}
                    </td>-->
                    <td>
                       {{store.advEmi}}
                    </td>
                    <td>
                       {{store.otherCharges}}
                    </td>
                    <td>
                       {{(store.cliPremium != null && store.cliPremium !="" ? store.cliPremium : 0)}}
                    </td>
                    
<!--                    <td>
                       {{store.otherCharges}}
                    </td>-->
                    
<!--                    <td>{{store.pddStatus}}</td>-->
                    
                    <td>
                      <!--<input style="text-transform: uppercase" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="isDisabled">-->
                        <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true" type="button"> I </button> {{store.invoiceNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon" class="fa fa-check " tooltip="engine No." tooltip-append-to-body="true"  type="button">E </button></button> {{store.engineNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon" class="fa fa-check " tooltip="Chassis No." tooltip-append-to-body="true"  type="button">C </button></button> {{store.chassisNumber}}</div>
                      
                      
<!--                      {{store.invoiceNumber}}
                      {{store.engineNumber}}
                      {{store.chassisNumber}}-->
                    </td>
                    
<!--                    <td>
                      <input style="text-transform: uppercase" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="isDisabled" > 
                      {{store.invoiceNumber}}
                    </td>-->
                    
<!--                    <td>
                      <input type="date" data-ng-model="store.invoiceDate" class="form-control"  required >
                      {{store.invoiceDate | date :'dd-MM-yyyy'}}
                    </td>-->
                    
<!--                    <td>
                      <input style="text-transform: uppercase" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="isDisabled">
                      {{store.engineNumber}}
                    </td>-->
                    
<!--                    <td>
                      <input style="text-transform: uppercase" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="isDisabled">
                      {{store.chassisNumber}}
                    </td>-->
                     <td>
                      <!--<input type="date" data-ng-model="store.actionDate" class="form-control"  required >-->
                      {{store.submittedDate | date :'dd-MM-yyyy'}}
                    </td>
<!--                    <td>
                      <input type="file" ngf-select  style="float:left" data-ng-model="store.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                              class="fa fa-file btn btn-primary btn-success" title="" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this)" ng-disabled="isDisabled" data-ui-file-upload >
                    </td>
                    
                    <td>
                      <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Invoice',sectionIndex)" ng-disabled="isDisabled"><i class="fa fa-upload"></i></button>
                    </td>
                    

                    
                    <td>
                      <a class="btn btn-primary btn-success color-reverse" data-ng-show="store.invoiceDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{store.invoiceDocUuid}}&applicationId={{store.applicationId}}" target="_blank" ><i class="fa fa-download"></i></a>
                    </td>
                    

                    
                    <td>
                      <button class="btn btn-primary btn-success" type="button" ng-click="approveOrRejectDetails('approved',sectionIndex)" ng-disabled="isDisabled"><i class="glyphicon glyphicon-ok"></i></button>  
                    </td>
                    
                    <td>

                       <button class="btn btn-primary btn-danger" type="button" ng-click="approveOrRejectDetails('rejected',sectionIndex)" ng-disabled="isDisabled">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button> 
                    </td>-->
                    
                   
                    
                    
<!--                    <td>{{store.submittedDate}}</td>-->
                 
                </tr>
            </tbody>
        </table>
        
        </section>
            </div>
<!--        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                        Application Id
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationNo'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationNo'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationNo'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationNo'}"></span>
                    </div></th>
                    
                     <th><div class="th">
                        Application Date
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                      Applicant Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'customerName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-customerName'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                      Supplier Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'customerName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-customerName'}"></span>
                    </div></th>
                     <th><div class="th">
                      FLS Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'customerName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-customerName'}"></span>
                    </div></th>

                    <th><div class="th">
                        Product
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'product'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-product'}"></span>
                    </div></th>
                    
                        <th><div class="th">
                        Asset 
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Asset Cost
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Loan Amount
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Margin Money
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Processing Fees
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Charges
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        CLI Premium
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Other Charges
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                   
                    
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Invoice Number
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Invoice Date
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Engine Number
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Chassis Number
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Action Date
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Choose File
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Upload File
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                        Download File
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    
                    <th><div class="th">
                       Approve
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                    <th><div class="th">
                       Reject
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                    </div></th>
                       
                    <th><div class="th">
                        Submitted Date
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('submittedDate') "
                              data-ng-class="{active: row == 'submittedDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-submittedDate') "
                              data-ng-class="{active: row == '-submittedDate'}"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse">
                    <td><a data-ng-click="showform(store.applicationId, store.progress, store.status)" class="active_link">{{store.applicationId}}</a></td>
                    <td>{{store.applicatName}}</td>
                    <td>{{store.product}}</td>
<td>{{store.applicationDate}}

                    <td>{{store.applicationDate |date : "yyyy-MM-dd"}}</td>
                    <td>{{store.status}}</td>
                    <td>{{store.submittedDate}}</td>
                </tr>
            </tbody>
        </table>-->
            
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->
        
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                
                <div class="col-md-4 center pagination-container">
                      <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <div class="col-md-4 text-right">
                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                	<input type="text"
                               placeholder=""
                               class="form-control align_right"
                               data-ng-model="searchPages"
                               data-ng-keyup="" style="width:30%; float:right">
                     
                </div>
            </div>
        </footer>
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>
  
