<style>
    .doc-panel-body {margin-left:25px !important;margin-top:10px !important; padding:0px !important;}
    table {border:1px soild #ccc}
</style><div class="page">
    <section class="panel panel-default table-dynamic table-responsive" style="border:1px solid #ccc; float:left; margin:10px 0px; width:100%">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> PDD Documents</strong> 
        </div>

        <div class="panel-body" data-ng-init="preloadPDDDocuments()" data-ng-controller="pddController">
            <!--<strong data-ng-hide="profileId == 1 || profileId == 2"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
            <section class="panel panel-default table-dynamic table-responsive" data-ng-disabled="isDisabledPostSanction">
                <div class="sourcing col-md-12 " id="form_sourcing">
                    <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="sourcingValid" novalidate>
                        
                        <div class="form-group">
                            <div class="col-md-12 sourcingHead">
                                <div class="col-md-4 no_padding"><b>Application ID</b> : {{applicationId}}</div>
                                <!--<div class="col-md-3 no_padding"><b>Agreement Number</b> : {{salesPddApplicationDetails.agreementId}}</div>-->
                                <div class="col-md-4 no_padding"><b>Customer Name</b> : {{custName}}</div>
                                <!--<div class="col-md-4 no_padding"><b>Branch</b> : {{salesPddApplicationDetails.branchName}}</div>-->            
                            </div>                            
                        </div>

                       <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                            <form class="form-horizontal ng-pristine ng-valid" autocomplete="off"
                                  name="assetLoan" novalidate>
                                <fieldset data-ng-disabled="isDisabledPostSanction">
                                   <!--  <accordion-group heading="Invoice" is-open="true">

                                        <div class="col-md-12">
                                            <table border="0" class="table-responsive col-md-12 no_padding">
                                                <tr>
                                                    <td colspan="2" style="text-align: center"><h5><b>Invoice Detail</b></h5></td>
                                                </tr> 
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Invoice No.</label></td>
                                                    <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="invoiceDetail.invoiceNumber" ></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Invoice Date</label></td>
                                                    <td class="col-md-8 no_padding"><input type="date" data-ng-model="invoiceDetail.invoiceDate" 
                                                                                           class="form-control"
                                                                                           required ></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Engine Number</label></td>
                                                    <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="invoiceDetail.engineNumber" ></td>
                                                </tr>

                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Chassis Number</label></td>
                                                    <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="invoiceDetail.chassisNumber" ></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Hypothecation Status</label></td>
                                                    <td class="col-md-8 no_padding"><select class="form-control" style="width:100%" ng-required="true"  data-ng-model="invoiceDetail.hypothicationStatus"  required>
                                                            <option value="" hidden />
                                                            <option value="0">Select Status</option>
                                                            <option value="Y" >Yes</option>
                                                            <option value="N" >No</option>
                                                        </select></td>

                                                </tr>

                                            </table>
                                        </div>
                                        <div> &nbsp; </div>
                                        <div> &nbsp; </div>
                                        <div class="col-sm-12" >
                                            <input type="file" ngf-select class="lightbox btn btn-primary btn-line-warning fa fa-file-o" style="float:left" data-ng-model="invoiceDetail.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                                   title=" Choose File" ngf-max-size="2MB" data-ui-file-upload >
                                            <button class="lightbox btn btn-primary btn-line-warning" style="float:left" ng-disabled="data.lifeInsurence.isApplicantSign == 'Y' || data.lifeInsurence.isOtpVerified == 'Y'" data-ng-click="sendOTP($index)" type="button"><i class="fa fa-key"></i> OTP</button>
                                            &nbsp;
                                            <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Invoice')" ><i class="fa fa-upload"></i> Upload File </button>
                                                <button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Verify OTP</button>
                                                &nbsp;
                                                <a class="link_color" data-ng-show="invoiceDetail.invoiceDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{invoiceDetail.invoiceDocUuid}}&applicationId={{applicationId}}" target="_blank">Download</a>
                                                <a data-ng-click="" data-ng-show="invoiceDetail.invoiceDocUuid" class="active_link">Download</a>
                                        </div>
                                    </accordion-group>-->

                                    <accordion-group heading="Registration Certificate" is-open="true">

                                        <div class="col-md-12">
                                            <table border="0" class="table-responsive col-md-12 no_padding">

                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Registration Number</label></td>
                                                    <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name=registrationNumber" maxlength="15" data-ng-model="regiCertiDetail.registrationNumber" data-ng-disabled="rcDetail.rcStatus"></td>
                                                </tr>
                                                <br>
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Registration  Date</label></td>
                                                    <td class="col-md-8 no_padding"><input type="date" data-ng-model="regiCertiDetail.registrationDate" 
                                                                                           class="form-control"
                                                                                           min="{{minDate2| date:'yyyy-MM-dd'}}"
                                                                                           max="{{today() | date:'yyyy-MM-dd'}}"
                                                                                           required ></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-4 no_padding"><label>Hypothecation Status</label></td>
                                                    <td class="col-md-8 no_padding"><select class="form-control" style="width:100%" ng-required="true"  data-ng-model="regiCertiDetail.hypothicationStatus">
                                                            <option value="" selected hidden />
                                                            <option value="0">Select Status</option>
                                                            <option value="Y" >Yes</option>
                                                            <option value="N" >No</option>
                                                        </select></td>

                                                </tr>
                                            </table>
                                        </div>
                                        <div> &nbsp; </div>
                                        <div> &nbsp; </div>
                                        <div class="col-sm-12" >
                                            <input type="file" ngf-select class="lightbox btn btn-primary btn-line-warning fa fa-file-o" style="float:left" data-ng-model="regiCertiDetail.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                                   title=" Choose File" ngf-max-size="2MB" data-ui-file-upload >
                                            <!--<button class="lightbox btn btn-primary btn-line-warning" style="float:left" ng-disabled="data.lifeInsurence.isApplicantSign == 'Y' || data.lifeInsurence.isOtpVerified == 'Y'" data-ng-click="sendOTP($index)" type="button"><i class="fa fa-key"></i> OTP</button>-->
                                            &nbsp;
                                            <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Registration')" ><i class="fa fa-upload"></i> Upload File </button>
                                                <!--<button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Verify OTP</button>-->
                                                &nbsp;
                                                <a class="link_color" data-ng-show="regiCertiDetail.registrationDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{regiCertiDetail.registrationDocUuid}}&applicationId={{applicationId}}" target="_blank">Download</a>
                                                <!--<a data-ng-click="" data-ng-show="regiCertiDetail.registrationDocUuid" class="active_link">Download</a>-->
                                        </div>
                                    </accordion-group>
                                    
<!--                                    <accordion-group heading="Margin Money Receipt" is-open="true">

                                        <div> &nbsp; </div>
                                        <div class="col-sm-12" >
                                            <input type="file" ngf-select class="lightbox btn btn-primary btn-line-warning fa fa-file-o" style="float:left" data-ng-model="marginMoneyDetail.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                                   title=" Choose File" ngf-max-size="2MB" data-ui-file-upload >
                                            <button class="lightbox btn btn-primary btn-line-warning" style="float:left" ng-disabled="data.lifeInsurence.isApplicantSign == 'Y' || data.lifeInsurence.isOtpVerified == 'Y'" data-ng-click="sendOTP($index)" type="button"><i class="fa fa-key"></i> OTP</button>
                                            &nbsp;
                                            <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('MarginMoney')" ><i class="fa fa-upload"></i> Upload File </button>
                                                <button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Verify OTP</button>
                                                &nbsp;
                                                <a class="link_color" data-ng-show="marginMoneyDetail.marginMoneyDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{marginMoneyDetail.marginMoneyDocUuid}}&applicationId={{applicationId}}" target="_blank">Download</a>
                                                <a data-ng-click="" data-ng-show="marginMoneyDetail.marginMoneyDocUuid" class="active_link">Download</a>
                                        </div>
                                    </accordion-group>-->
                                    
                                </fieldset>
                            </form>
                        </accordion>

                </div>
            </section>
        </div>

    </section>
</div>