<div class="page" data-ng-init="preloadLoanAssetDetail();preloadPDDDocuments()" data-ng-controller="loanAssetDetailCtrl">
    <strong data-ng-hide="profileId == 1"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>
    <section class="panel panel-default" data-ng-show="profileId == 1">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Loan And Asset Details</strong> <span style="float:right; text-transform:capitalize "><b class="red" >*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div class="asset_loan_details col-md-12"
                 id="asset_loan_details"
                 >
                <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                    <form class="form-horizontal ng-pristine ng-valid" autocomplete="off"
                          name="assetLoan" novalidate>
                        <fieldset > 

                            <div>


                                <!--                                <div ng-disabled="isDisabled"> -->

                                <div class="form-group">
                                    <div class="col-md-12 sourcingHead">
                                        <!--                                <div class="col-md-4 no_padding"><b>Application ID</b> : {{sanctionedvobolst[0].applicationID}}</div>
                                                                        <br>
                                                                        <div class="col-md-4 no_padding"><b>Applicant Name</b> : {{sanctionedvobolst[0].fullName}}</div>
                                                                        <br>
                                                                        <br>-->
                                        <table border="0" class="table-responsive col-md-12 no_padding">
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Application ID</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.application_ID}}</label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Applicant Name</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.applicantName}}</label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Applicant Id</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.applicantId}}</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <accordion-group heading="Asset Details" is-open="true" >


                                    <div class="form-group no-margin" >
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.manufacturer.$error.required">
                                            </span>Asset Manufacturer
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"    
                                                   ng-disabled="isDisabled"  data-ng-model="applicantDetail.asset_Manufacturer" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="manufacturer" ng-disabled="isDisabled" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin" >
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetMake.$error.required">
                                            </span>Asset Make
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.asset_Make" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetMake" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetModel.$error.required">
                                            </span>Asset Model
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   ng-disabled="isDisabled"  data-ng-model="applicantDetail.assetModel" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetModel" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetCost.$error.required">
                                            </span>Asset Cost
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   ng-disabled="isDisabled"  data-ng-model="applicantDetail.assetCost_ESR" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetCost" required>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                                                            <label class="col-sm-4" for="label-focus"> <span
                                                                                    class="error"
                                                                                    ng-show="assetLoan.supplierId.$error.required">
                                                                                </span>Supplier Id
                                                                            </label>
                                                                            <div class="col-sm-8">
                                                                                <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                                                      ng-disabled="isDisabled"  data-ng-model="applicantDetail.supplier_ID" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierId" required>
                                                                            </div>
                                                                        </div>-->

                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.supplierName.$error.required">
                                            </span>Supplier Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   ng-disabled="isDisabled" data-ng-model="applicantDetail.supplier_Name" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierName" required>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                                                            <label class="col-sm-4" for="label-focus"> <span
                                                                                    class="error"
                                                                                    ng-show="assetLoan.dsaId.$error.required">
                                                                                </span>DSA Id
                                                                            </label>
                                                                            <div class="col-sm-8">
                                                                                <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                                                       data-ng-model="applicantDetail.dsa_ID"  ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                                                            </div>
                                                                        </div>-->

                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaName.$error.required">
                                            </span>DSA Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.dsa_Name" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group no-margin" ng-disabled="isDisabled">
                                                                            <label class="col-sm-4" for="label-focus"> <span
                                                                                    class="error"
                                                                                    ng-show="assetLoan.flsId.$error.required">
                                                                                </span>FLS Id
                                                                            </label>
                                                                            <div class="col-sm-8">
                                                                                <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                                                       data-ng-model="applicantDetail.fls_ID" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                                                            </div>
                                                                        </div>-->

                                    <div class="form-group no-margin" >
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.flsName.$error.required">
                                            </span>FLS Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.fls_Name" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>

                                </accordion-group>


                                <accordion-group heading="Loan Details" is-open="true"  >


                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.marginMoney.$error.required">
                                            </span>Margin Money
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.margin_Money" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="marginMoney" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.processingFee.$error.required">
                                            </span>Processing Fee
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.processing_Fees" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="processingFee" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.ecsCharges.$error.required">
                                            </span>ECS Charges
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.ecs_charges"  ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="ecsCharges" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.docCharges.$error.required">
                                            </span>Doc Charges
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.doc_Charges" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="docCharges" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.stampDuty.$error.required">
                                            </span>Stamp Duty
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.stampDuty" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="stampDuty" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.cliPremium.$error.required">
                                            </span>CLI Premium
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.cli_Premium" ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="stampDuty" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.currentDate.$error.required">
                                            </span>Application Date
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control"  
                                                   data-ng-model="applicantDetail.application_Date"  ng-disabled="isDisabled" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="currentDate" required>
                                        </div>
                                    </div>

                                </accordion-group>
                                
                                <accordion-group heading="Invoice" is-open="true">

                                    <div class="col-md-12">
                                        <table border="0" class="table-responsive col-md-12 no_padding">
                                            <tr>
                                                <!--<td colspan="2" style="text-align: center"><h5><b>Invoice Detail</b></h5></td>-->
                                            </tr> 
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Invoice No.</label></td>
                                                <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="invoiceDetail.invoiceNumber" ng-disabled="isDisabled" ></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Invoice Date</label></td>
                                                <td class="col-md-8 no_padding"><input type="date" data-ng-model="invoiceDetail.invoiceDate" 
                                                                                       class="form-control"
                                                                                       required ></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Engine Number</label></td>
                                                <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="invoiceDetail.engineNumber" ng-disabled="isDisabled"></td>
                                            </tr>

                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Chassis Number</label></td>
                                                <td class="col-md-8 no_padding"><input style="text-transform: uppercase" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="invoiceDetail.chassisNumber" ng-disabled="isDisabled"></td>
                                            </tr>
                                            <!--                                                <tr>
                                                                                                <td class="col-md-4 no_padding"><label>Hypothecation Status</label></td>
                                                                                                <td class="col-md-8 no_padding"><select class="form-control" style="width:100%" ng-required="true"  data-ng-model="invoiceDetail.hypothicationStatus"  required>
                                                                                                        <option value="" hidden />
                                                                                                        <option value="0">Select Status</option>
                                                                                                        <option value="Y" >Yes</option>
                                                                                                        <option value="N" >No</option>
                                                                                                    </select></td>
                                            
                                                                                            </tr>-->

                                        </table>
                                    </div>
                                    <div> &nbsp; </div>
                                    <div> &nbsp; </div>
                                    <div class="col-sm-12" >
                                        <input type="file" ngf-select class="lightbox btn btn-primary btn-line-warning fa fa-file-o" style="float:left" data-ng-model="invoiceDetail.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                               title=" Choose File" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this)" ng-disabled="isDisabled" data-ui-file-upload >
                                        <!--<button class="lightbox btn btn-primary btn-line-warning" style="float:left" ng-disabled="data.lifeInsurence.isApplicantSign == 'Y' || data.lifeInsurence.isOtpVerified == 'Y'" data-ng-click="sendOTP($index)" type="button"><i class="fa fa-key"></i> OTP</button>-->
                                        &nbsp;
                                        <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Invoice')" ng-disabled="isDisabled"><i class="fa fa-upload"></i> Upload File </button>
                                        <!--<button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Verify OTP</button>-->
                                        &nbsp;
                                        {{theFile.name}}
                                        &nbsp;
                                        <a class="link_color" data-ng-show="invoiceDetail.invoiceDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{invoiceDetail.invoiceDocUuid}}&applicationId={{applicationId}}" target="_blank" >Download</a>
                                        <!--<a data-ng-click="" data-ng-show="invoiceDetail.invoiceDocUuid" class="active_link">Download</a>-->
                                    </div>
                                </accordion-group>
                                <div>&nbsp;</div>
                                <accordion-group heading="Margin Money Receipt" is-open="true">

                                    <div> &nbsp; </div>
                                    <div class="col-sm-12" >
                                        <input type="file" ngf-select class="lightbox btn btn-primary btn-line-warning fa fa-file-o" style="float:left" data-ng-model="marginMoneyDetail.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                               title=" Choose File" ngf-max-size="2MB"   onchange="angular.element(this).scope().setMarginFile(this)" ng-disabled="isDisabled" data-ui-file-upload > 

                                        <!--<button class="lightbox btn btn-primary btn-line-warning" style="float:left" ng-disabled="data.lifeInsurence.isApplicantSign == 'Y' || data.lifeInsurence.isOtpVerified == 'Y'" data-ng-click="sendOTP($index)" type="button"><i class="fa fa-key"></i> OTP</button>-->
                                        &nbsp;
                                        <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('MarginMoney')" ng-disabled="isDisabled"><i class="fa fa-upload"></i> Upload File </button>
                                        <!--                                        <button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Verify OTP</button>-->
                                        &nbsp;
                                        {{theMarginFile.name}}
                                        &nbsp;

                                        <a class="link_color" data-ng-show="marginMoneyDetail.marginMoneyDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{marginMoneyDetail.marginMoneyDocUuid}}&applicationId={{applicationId}}" target="_blank" >Download</a>
                                        <!--                                        <a data-ng-click="" data-ng-show="marginMoneyDetail.marginMoneyDocUuid" class="active_link">Download</a>-->
                                    </div>

                                </accordion-group>
                                <div>&nbsp;</div>
                                <div class="form-group" >

                                    <div class="col-sm-12 align_right">

                                        <!--                                        <button class="btn btn-primary btn-success" type="button" ng-click="approveOrRejectDetails('approved')" ng-disabled="isDisabled"><i class="glyphicon glyphicon-ok"></i> Approve </button>
                                                                                &nbsp;
                                                                                <button class="btn btn-primary btn-danger" type="button" ng-click="approveOrRejectDetails('rejected')" ng-disabled="isDisabled">
                                                                                    <i class="glyphicon glyphicon-remove"></i> Reject
                                                                                </button>-->
                                        <button class="btn btn-primary btn-success" type="button" ng-click="validateLoanAndAssetDetails('approved')" ng-disabled="isDisabled"><i class="glyphicon glyphicon-ok"></i> Approve </button>
                                        &nbsp;
                                        <button class="btn btn-primary btn-danger" type="button" ng-click="validateLoanAndAssetDetails('rejected')" ng-disabled="isDisabled">
                                            <i class="glyphicon glyphicon-remove"></i> Reject
                                        </button>


                                    </div>
                                </div>


                            </div>
                        </fieldset>
                    </form>
                </accordion>
            </div>
        </div>
    </section> 
</div>