<!--<link rel="stylesheet" type="text/css" href="styles/fixed-table.css">-->
<div class="page page-table" data-ng-init="preloadPendingStatusDashboard(fromRowNum, toRowNum, userNameForLogin);" data-ng-controller="pendingStatusDashboardCtrl">

    <!-- DashBoard Table Starts-->
    <!--     <strong data-ng-hide="profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <!--    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1">-->
    <section class=" panel-default table-dynamic table-responsive">
        <div class="panel-heading form-group"><strong><span class="glyphicon glyphicon-th"></span> Pending Dashboard</strong></div>

<!--        <div class="row form-group">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-6 form-group">	
                        <div class="input-group">
                            <input class="form-control col-md-6" ng-model="searchText" placeholder="Search" type="text"  />
                        </div>

                    </div>
                </div>

                <div class="col-md-6 filter-result-info" style="vertical-align: central;">
                    <div class="row">
                        <div class="col-md-6 form-group center" style="vertical-align: central;">
                            Showing {{totalItems}} Record(s)     
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        <div class="table-responsive">
            <section class="panel panel-default table-dynamic table-responsive" style="width: 100%; height:400px; overflow: auto;">

                <table class="table table-bordered table-striped scrollable" id="searchObjResults" width="100%">

                    <thead>
                        <tr>
                            <th><div class="th">
                                    Application Id/ Applicant Name
                                </div></th>

                            <th><div class="th">
                                    Application Date
                                     <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                                </div>
                            </th>

<!--                           <th><div class="th">
                                    Applicant Name
                                </div></th>-->
                                
                            <th><div class="th" style="width:120px">
                                    Status
                                </div></th>
                                
                            <th><div class="th" style="width:70px">
                                    Asset 
                                </div></th>
                                
                            <th><div class="th" >
                                    Asset Cost
                                </div></th>
                                
                            <th><div class="th" style="width:50px">
                                    Loan Amount
                                </div></th>
                                
                            <th><div class="th" style="width:50px">
                                    Margin Money
                                </div></th>
                             <th><div class="th" style="width:60px">
                                Advance EMI
                              </div></th>

                            <th><div class="th"  style="width:50px">
                                    Charges
                                </div></th>

                            <th><div class="th" style=" width:50px">
                                    CLI Prem.
                                </div></th>
                                
                            <th><div class="th" style="width:50px">
                                    Amount Paid To Dealer
                                </div></th>

<!--                            <th><div class="th" >
                                    Invoice Number
                                </div></th>-->

                            <th><div class="th" style="width: 150px">
                                    <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true"  type="button">I</button> Invoice No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon" class="fa fa-check " tooltip="Engine No." tooltip-append-to-body="true" type="button">E</button> Engine No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon" class="fa fa-check " tooltip="Chassis No." tooltip-append-to-body="true" type="button">C</button> Chassis No.
                                </th>
<!--                            <th><div class="th">
                                    Chassis Number
                                </div></th>-->
                                
<!--                            <th><div class="th" style="width:50px">
                                    View Invoice
                                </div></th>-->

                            <th><div class="th" style="width:130px" >
                                  View Invoice</br>Approve</br>Reject
                                </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationId" placeholder="Search" type="text"  /></td>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationDate" style="width: 151px" placeholder="Search" type="date"  /></td>
                            
                            <!--                         <td><input class="form-control col-md-6" ng-model="searchApplicant_Name" placeholder="Search1" type="text"  /></td>-->
                            <td >
                                <!--<input class="form-control col-md-6" ng-model="searchStatus" placeholder="Search" type="text"  />-->
<!--                                <span>
-->                                    <select class="form-control" data-ng-model="searchStatus" class="form-control col-md-6">
                                        <option value="">Select</option>
                                        <option value="Loan Sanctioned, Invoice Awaited">Loan Sanctioned, Invoice Awaited</option>
                                        <option value="Pending Invoice Confirmation">Pending Invoice Confirmation</option>
                                    </select> <!--
                                </span>-->
                            </td>
                            <td><input class="form-control col-md-6" ng-model="searchAsset_Manufacturer" placeholder="Search" type="text"  />
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                             <td>
                            </td>
<!--                            <td>
                            </td>-->
<!--                            <td>
                            </td>
-->                            <td>
                            </td>
                           <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <!--<tr data-ng-repeat="store in currentPageStores | filter:filterBy(searchParam,filterType)" ng-init="sectionIndex = $index" >-->
                        <!--<tr data-ng-repeat="store in currentPageStores | filter:{applicationId:searchApplicationId} | filter:{applicationDate:searchApplicationDate} | filter:{status:searchStatus} | filter:{invoice_DocID:searchApplicationDate}| filter:{applicant_Name:searchApplicant_Name} | filter:{asset_Manufacturer:searchAsset_Manufacturer} | orderBy:sortType:sortReverse" ng-init="sectionIndex = $index" >-->
                        <tr data-ng-repeat="store in currentPageStores | filter:searchApplicationId | filter:{applicationDate:searchApplicationDate} | filter:{status:searchStatus} | filter:{invoice_DocID:searchApplicationDate} | filter:{asset_Manufacturer:searchAsset_Manufacturer} " | orderBy:sortType:sortReverse ng-init="sectionIndex = $index" >
                            <td>{{store.applicationId}}<br><br> {{store.applicant_Name}}</td>
                            <!--<td>{{store.applicationDate|date : "yyyy-MM-dd"}}</td>-->
                            <td>{{store.applicationDate|date : "MM-dd-yyyy"}}</td>

                        <td>{{store.status}}</td>    
<!--                            <td data-ng-hide="store.invoice_DocID">Loan Sanctioned, Invoice Awaited{{store.invoice_DocID}}</td>
                            <td data-ng-show="store.invoice_DocID">Pending Invoice Confirmation{{store.invoice_DocID}}</td>-->
                            <td>
                                {{store.asset_Manufacturer + " " + store.asset_Make + " " + store.assetModel}}
                            </td>
                            <td>
                                {{store.assetCost_ESR}}
                            </td>
                            <td>
                                {{store.loan_Amount}}
                            </td>
                            <td>
                                {{store.margin_Money != null && store.margin_Money !="" ? store.margin_Money : 0}}
                            </td>
                             <td>
                                {{store.advEmi}}
                            </td>
                            <td>
                                {{store.other_charges}}
                            </td>
                            <!--                    <td>
                                                   {{store.processing_Fees != null && store.processing_Fees !="" ? store.processing_Fees : 0}}
                                                </td>-->

                            <td>
                                {{(store.cli_Premium != null && store.cli_Premium !="" ? store.cli_Premium : 0)}}
                            </td>
                            
                            <td>
                                {{store.paymentToDlr}}
                            </td>

                            <!--                    <td>
                                                   {{store.other_charges}}
                                                </td>-->

                            <!--<td>{{store.status}}</td>-->

<!--                            <td>
                                <input style="text-transform: uppercase; width: 100px" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" > 
                            </td>-->

                            <!--                    <td>
                                                  <input type="date" data-ng-model="store.invoiceDate" class="form-control"  required >
                                                </td>-->

                            <td ng-show="!store.invoice_DocID || isDisabled">
                                
                                 <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true"  type="button">I</button> {{store.invoiceNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon" class="fa fa-check " tooltip="engine No." tooltip-append-to-body="true" type="button">E</button> {{store.engineNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon" class="fa fa-check " tooltip="chassis No." tooltip-append-to-body="true"  type="button">C</button> {{store.chassisNumber}}</div>
                          
                            </td>
                            <td ng-hide="!store.invoice_DocID || isDisabled">
                                
                              <div>
                                  <div style="float: left;vertical-align: central"><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true"  type="button">I</button></div>
                                  <div><input style="text-transform: uppercase; width: 100px; height:30px; align-self: flex-end" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" ></div>   
<!--                                  <div class="input-group">
                                       <span class="input-group-addon" style="width:1px;height:10px;background:#0096ba;color: white">I  </span> <input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" >
                                      <span class="input-group-addon" style="width:1px;height:10px;background:#0096ba;color: white"><b>I</b></span> <input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" >
                                      <span class="input-group-addon" style="height:1px; width:1px "><button style="height:16px; width:17px " class="btn-primary btn-icon; padding:0px"  type="button">I</button></span> <input style="text-transform: uppercase; width: 100px" type="label" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" >
                                  </div>  -->
                                      </div>
                                
                                <div>
                                    <div style="float: left;vertical-align: central"><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-success btn-icon" class="fa fa-check " tooltip="engine No." tooltip-append-to-body="true"  type="button">E</button></div>
                                  <div><input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="!store.invoice_DocID || isDisabled"></div>   
<!--                                  <div class="input-group">
                                        <span class="input-group-addon" style="width:1px;height:10px;background:#33a370;color: white">E</span><input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="!store.invoice_DocID || isDisabled">
                                      <span class="input-group-addon" style="height:1px; width:1px "><button style="height:16px; width:17px " class="btn-success btn-icon"  type="button">E</button></span><input style="text-transform: uppercase; width: 100px" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="!store.invoice_DocID || isDisabled">-->
                                  <!--</div>-->  
                                      </div> 
                                
                                <div>
                                    <div style="float: left;vertical-align: central"><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-danger btn-icon" class="fa fa-check " tooltip="chassis No." tooltip-append-to-body="true"  type="button">C</button></div>
                                  <div><input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="!store.invoice_DocID || isDisabled" ></div>   
<!--                                  <div class="input-group">
                                      <span class="input-group-addon" style="width:1px; height:10px;background:#df4a32;color: white">C</span> <input style="text-transform: uppercase; width: 100px;height:30px" type="label" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="!store.invoice_DocID || isDisabled" >
                                      <span class="input-group-addon" style="width:1px;background:#df4a32;color: white">C</span> <input style="text-transform: uppercase; width:80px;height:30px "type="label" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="!store.invoice_DocID || isDisabled" >
                                  </div>  -->
                                      </div> 
                             
<!--                                <div> <button style="height:10px; width:10px " class="btn-primary btn-icon; padding:0px"  type="button">I </button><input style="text-transform: uppercase; width: 100px" type="label" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="!store.invoice_DocID || isDisabled" ></div>-->
<!--                               <div><div class="input-group"><span class="input-group-addon" style="height:1px; width:1px "><button style="height:16px; width:17px " class="btn-success btn-icon"  type="button">E</button>     <input style="text-transform: uppercase; width: 100px" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="!store.invoice_DocID || isDisabled"></div></div> </div>  
                              <div><button style="height:16px; width:18px " class="btn-danger btn-icon"  type="button">C</button> <input style="text-transform: uppercase; width: 100px" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="!store.invoice_DocID || isDisabled" ></div>-->
                         
                            </td>

<!--                            <td>
                                <input style="text-transform: uppercase; width: 100px" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="!store.invoice_DocID || isDisabled">
                            </td>-->

                            <!--                    <td>
                                                  <input type="file" ngf-select  style="float:left" data-ng-model="store.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                                                          class="fa fa-file btn btn-primary btn-success" title="" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this)" ng-disabled="isDisabled" data-ui-file-upload >
                                                </td>-->

<!--                            <td>
                                                        <input type="file" ngf-select  style="float:left" data-ng-model="store.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                                                              class="fa fa-file btn btn-primary btn-success" title="" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this)" ng-disabled="isDisabled" data-ui-file-upload >
                                                        &nbsp;
                                                      <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Invoice',sectionIndex)" ng-disabled="isDisabled"><i class="fa fa-upload"></i></button>
                                                      &nbsp;
                                <button style="text-transform: uppercase"  class="btn btn-primary btn-success color-reverse" data-ng-show="store.invoice_DocID" type="button" data-ng-click="viewImage(store.applicationId,store.invoice_DocID)"><i class="fa fa-download"></i></button>
                                <a class="btn btn-primary btn-success color-reverse" data-ng-show="store.invoice_DocID" href="{{urlDomain}}/pddDocDownload.json?uuid={{store.invoice_DocID}}&applicationId={{store.applicationId}}" target="_blank" ><i class="fa fa-download"></i></a>
                            </td>-->



                            <!--                    <td>
                                                  <a class="btn btn-primary btn-success color-reverse" data-ng-show="store.invoiceDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{store.invoiceDocUuid}}&applicationId={{store.applicationId}}" target="_blank" ><i class="fa fa-download"></i></a>
                                                </td>
                            -->


                            <td>
                                <!--<div>&nbsp;-->
                                <button style="width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;" class="btn btn-primary btn-round color-reverse" data-ng-show="store.invoice_DocID" type="button" data-ng-click="viewImage(store.applicationId,store.invoice_DocID)  "><i class="fa fa-file " tooltip="View Invoice" tooltip-append-to-body="true"></i></button>&nbsp;
                                <button style="width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;" class="btn btn-primary btn-success btn-round" data-ng-show="store.invoice_DocID" type="button" ng-click="approveOrRejectDetails('approved', sectionIndex)" ng-disabled="isDisabled"><i class="fa fa-check " tooltip="Approve" tooltip-append-to-body="true"></i></button>&nbsp;  
                                <button style="width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;" class="btn btn-primary btn-danger btn-round" data-ng-show="store.invoice_DocID" type="button" ng-click="approveOrRejectDetails('rejected', sectionIndex)" ng-disabled="isDisabled">  <i class="glyphicon glyphicon-remove"tooltip="Reject" tooltip-append-to-body="true"></i></button>   
                                 <!--</div>-->
                            </td>

                            <!--                    <td>
                            
                                                   <button class="btn btn-primary btn-danger" type="button" ng-click="approveOrRejectDetails('rejected',sectionIndex)" ng-disabled="isDisabled">
                                                                        <i class="glyphicon glyphicon-remove"></i>
                                                                    </button> 
                                                </td>-->




                            <!--                    <td>{{store.submittedDate}}</td>-->

                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>

                <div class="col-md-4 center pagination-container">
                    <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <div class="col-md-4 text-right">
                    <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                    <input type="text"
                           placeholder=""
                           class="form-control align_right"
                           data-ng-model="searchPages"
                           data-ng-keyup="" style="width:30%; float:right">

                </div>
            </div>
        </footer>

    </section>

    <!-- DashBoard Table Ends-->
</div>

