<div class="page" data-ng-init="preloadProfileDetail()" data-ng-controller="profileDetailCtrl">
    <strong data-ng-hide="profileId == 1"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>
    <section class="panel panel-default" data-ng-show="profileId == 1">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> My Profile </strong> <span style="float:right; text-transform:capitalize "><b class="red" >*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div class="asset_loan_details col-md-12"
                 id="asset_loan_details"
                 >
                <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                    <form class="form-horizontal ng-pristine ng-valid" autocomplete="off"
                          name="assetLoan" novalidate>
                        <fieldset > 

                            <div>


                                <!--<div ng-disabled="isDisabled">--> 

<!--                                <div class="form-group">
                                    <div class="col-md-12 sourcingHead">
                                                                        <div class="col-md-4 no_padding"><b>Application ID</b> : {{sanctionedvobolst[0].applicationID}}</div>
                                                                        <br>
                                                                        <div class="col-md-4 no_padding"><b>Applicant Name</b> : {{sanctionedvobolst[0].fullName}}</div>
                                                                        <br>
                                                                        <br>
                                        <table border="0" class="table-responsive col-md-12 no_padding">
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Application ID</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.applicationId}}</label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Applicant Name</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.applicantName}}</label></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Applicant Id</label></td>
                                                <td class="col-md-8 no_padding"><label>{{applicantDetail.applicantId}}</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>-->

                                <!--<accordion-group heading="Details" is-open="true" >-->


                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.manufacturer.$error.required">
                                            </span>Id
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true" ng-disabled="true"
                                                   data-ng-model="profileDetails.supplierId" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="manufacturer" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetMake.$error.required">
                                            </span>Name
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.name" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetMake" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetModel.$error.required">
                                            </span>Address
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   value="{{profileDetails.addressLine1}} {{profileDetails.addressLine2}} {{profileDetails.addressLine3}} {{profileDetails.addressLine4}}"
                                                    ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetModel" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.assetCost.$error.required">
                                            </span>City
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.city" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="assetCost" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.supplierId.$error.required">
                                            </span>State
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.state" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierId" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.supplierName.$error.required">
                                            </span>Phone
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.phone" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="supplierName" required>
                                        </div>
                                    </div>

                                <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaId.$error.required">
                                            </span>Contact Person
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.contactPerson" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                        </div>
                                    </div>
                                
                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaId.$error.required">
                                            </span>Bank
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.bankName" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.dsaName.$error.required">
                                            </span>Branch
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.branchName" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.flsId.$error.required">
                                            </span>Location
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.location" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaId" required>
                                        </div>
                                    </div>

                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.flsName.$error.required">
                                            </span>Bank A/C No.
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.bankAccountNumber" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group no-margin">
                                        <label class="col-sm-4" for="label-focus"> <span
                                                class="error"
                                                ng-show="assetLoan.flsName.$error.required">
                                            </span>GSTIN
                                        </label>
                                        <div class="col-sm-8">
                                            <input style="text-transform: uppercase;background-color: white" type="text" class="form-control" ng-disabled="true"
                                                   data-ng-model="profileDetails.gstNumber" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="dsaName" required>
                                        </div>
                                    </div>

                                <!--</accordion-group>-->

                                <div>&nbsp;</div>

                            </div>
                        </fieldset>
                    </form>
                </accordion>
            </div>
        </div>
    </section> 
</div>