
<link rel="stylesheet" type="text/css" href="styles/fixed-table.css">
<div class="page page-table" data-ng-init="loadSearchCriteria();preloadDealerStatusDashboard(fromRowNum, toRowNum,userNameForLogin);" data-ng-controller="dealerStatusDashboardCtrl">

    <!-- DashBoard Table Starts-->
<!--     <strong data-ng-hide="profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
<!--    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1">-->
<section class="panel panel-default table-dynamic table-responsive">
        <div class="panel-heading form-group"><strong><span class="glyphicon glyphicon-th"></span>Status Dashboard</strong></div>

<!--                <div class="row form-group">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.criteria}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="tel" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate()">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
                            <span>
                                                        Total {{totalItems}} Record(s) Found
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            </span>              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        <!------------------------dynamic tables-->
        
        <div id="fixed-table-container-1" class="fixed-table-container">
<!--          <section class="panel panel-default table-dynamic table-responsive" style="width: 100%; height:300px; overflow: auto;">-->

           <table class="table-striped no_padding">
            <thead>
                <tr>
                    <th>
                        Application Id/<br><br> Applicant Name
                    </th>
                    
                     <th><div class="th">
                                    Application Date
                                     <span  class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationDate'}"></span>
                        <span  class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationDate'}"></span>
                                </div>
                            </th>
                    
<!--                    <th>
                      Applicant Name
                    </th>-->
                    
                    <th>
                                    Asset 
                        
                    </th>
                     <th>
                             Status
                    </th>
                    <th><div class="th" style="width:70px">
                            Asset<br>Cost</div>
                    </th>
                    
                    <th><div class="th" style="width:70px">
                            Loan<br>Amount</div>
                    </th>
                    
                    <th><div class="th" style="width:70px">
                            Margin<br>Money</div>
                    </th>
                    <th><div class="th" style="width:70px">
                            Advance<br> EMI
                              </div></th>
                    
                    <th><div class="th" style="width:70px">
                            Charges</div>
                    </th>
                    
<!--                    <th>
                        
                    </th>-->
                    
                    <th>
                        Charges
                    </th>
                    
                    <th><div class="th" style="width:80px">
                            Amount Paid<br> To Dealer</div>
                    </th>
                    
<!--                    <th>
                        Status
                    </th>-->
                    
<!--                   <th>
                        Invoice Number
                    </th>-->
                    <th>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon"  type="button" class="fa fa-check " tooltip="Invoice No." tooltip-append-to-body="true">I</button> Invoice No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon"  type="button" class="fa fa-check " tooltip="Engine No." tooltip-append-to-body="true">E</button> Engine No.<br>
                                     <button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon"  type="button" class="fa fa-check " tooltip="Chassis No." tooltip-append-to-body="true">C</button> Chassis No.  
                        
                       
                    </th>
<!--                    
                    <th>
                        Chassis Number
                    </th>-->
                    
                    <th>
                        Action Date
                    </th>
                    
                </tr>
                <tr>
                            <th><input class="form-control col-md-3" ng-model="searchApplicationId" placeholder="Search" type="text"  /></th>
                            <th><input class="form-control col-md-3" ng-model="searchApplicationDate" style="width: 151px" placeholder="Search" type="date"  /></td>
                            
                            <!--                         <td><input class="form-control col-md-6" ng-model="searchApplicant_Name" placeholder="Search1" type="text"  /></td>-->
                            <th>
                                <!--<input class="form-control col-md-6" ng-model="searchStatus" placeholder="Search" type="text"  />-->
<!--                                <span>
-->                                    <select class="form-control" data-ng-model="searchStatus" class="form-control col-md-3" style="width:100px">
                                        <option value="">Select</option>
                                        <option value="Loan Sanctioned, Invoice Awaited">Approved</option>
                                        <option value="Pending Invoice Confirmation">Rejected</option>
                                    </select> <!--
                                </span>-->
                            </th>
                            <th><input class="form-control col-md-3" ng-model="searchAsset_Manufacturer" placeholder="Search" type="text" style="width:50px"  />
                            </th>
<th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
<!--                            <th>
                            </td>-->
<!--                            <th>
                            </th>
                            <th>
                            </td>-->
                           <th>
                            </th>
                            <th>
                            </th>
                        </tr>
            </thead>
            <tbody>
<!--                 <tr>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationId" placeholder="Search" type="text"  /></td>
                            <td><input class="form-control col-md-3" ng-model="searchApplicationDate" style="width: 151px" placeholder="Search" type="date"  /></td>
                            
                                                     <td><input class="form-control col-md-6" ng-model="searchApplicant_Name" placeholder="Search1" type="text"  /></td>
                            <td >
                                <input class="form-control col-md-6" ng-model="searchStatus" placeholder="Search" type="text"  />
                                <span>
                                    <select class="form-control" data-ng-model="searchStatus" class="form-control col-md-3" style="width:100px">
                                        <option value="">Select</option>
                                        <option value="Loan Sanctioned, Invoice Awaited">Loan Sanctioned, Invoice Awaited</option>
                                        <option value="Pending Invoice Confirmation">Pending Invoice Confirmation</option>
                                    </select> 
                                </span>
                            </td>
                           
<td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                           <td>
                            </td>
                            <td>
                            </td>
                        </tr>-->
                        </tr>

                
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse" ng-init="sectionIndex =$index" >
                    <td>{{store.applicationId}}<br><br>
                        {{store.applicatName}}
                        
                        
                    </td>
                    
                    <td>{{store.applicationDate |date : "yyyy-MM-dd"}}</td>
                    
                    
<!--                    <td>{{store.applicatName}}</td>-->
                    <td >
                        <div>
                            {{store.assetManufacturer}}<br>{{store.assetMake}}<br>{{store.assetModel}}
                        </div>
                    </td>
                           <td>{{store.status}}</td>
                    <td>
                       {{store.assetCostESR != null && store.assetCostESR !="" ? store.assetCostESR : 0}}
                    </td>
                    <td>
                       {{store.loanAmount != null && store.loanAmount !="" ? store.loanAmount : 0}}
                    </td>
                    <td>
                       {{store.marginMoney != null && store.marginMoney !="" ? store.marginMoney : 0}}
                    </td>
<!--                     <td>
                      00
                    </td>-->
<!--                    <td>
                       {{store.processingFees != null && store.processingFees !="" ? store.processingFees : 0}}
                    </td>-->
                    <td>
                       {{store.advEmi}}
                    </td>
                    <td>
                       {{store.otherCharges}}
                    </td>
                    <td>
                       {{(store.cliPremium != null && store.cliPremium !="" ? store.cliPremium : 0)}}
                    </td>
                    <td>
                       {{(store.paymentPaidToDlr != null && store.paymentPaidToDlr !="" ? store.paymentPaidToDlr : 0)}}
                    </td>
                    
<!--                    <td>
                       {{store.otherCharges}}
                    </td>-->
                    
<!--                    <td>{{store.status}}</td>-->
                    
<!--                    <td>
                      <input style="text-transform: uppercase" type="text" class="form-control" name="invoiceNumber" maxlength="20" data-ng-model="store.invoiceNumber" ng-disabled="isDisabled" > 
                      {{store.invoiceNumber}}
                    </td>-->
                    
<!--                    <td>
                      <input type="date" data-ng-model="store.invoiceDate" class="form-control"  required >
                      {{store.invoiceDate | date :'dd-MM-yyyy'}}
                    </td>-->
                    
                    <td>
                      <!--<input style="text-transform: uppercase" type="text" class="form-control" name="engineNumber" maxlength="20" data-ng-model="store.engineNumber" ng-disabled="isDisabled">-->
                        <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-primary btn-icon" class="fa fa-check " tooltip="invoice No." tooltip-append-to-body="true" type="button"> I </button> {{store.invoiceNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-success btn-icon" class="fa fa-check " tooltip="engine No." tooltip-append-to-body="true"  type="button">E </button></button> {{store.engineNumber}}</div>   
                             <div><button style="width: 20px;height: 20px;text-align: center;font-size: 12px;font-family: Times New Roman; line-height: 1.428571429;border-radius: 15px;" class="btn-danger btn-icon" class="fa fa-check " tooltip="Chassis No." tooltip-append-to-body="true"  type="button">C </button></button> {{store.chassisNumber}}</div>
                      
                      
<!--                      {{store.invoiceNumber}}
                      {{store.engineNumber}}
                      {{store.chassisNumber}}-->
                    </td>
                    
<!--                    <td>
                      <input style="text-transform: uppercase" type="text" class="form-control" name="chassisNumber" maxlength="20" data-ng-model="store.chassisNumber" ng-disabled="isDisabled">
                      {{store.chassisNumber}}
                    </td>-->
                     <td>
                      <!--<input type="date" data-ng-model="store.actionDate" class="form-control"  required >-->
                      {{store.submittedDate | date :'dd-MM-yyyy'}}
                    </td>
<!--                    <td>
                      <input type="file" ngf-select  style="float:left" data-ng-model="store.file" ng-click="isSubmitDisabled = false" accept="image/*;capture=camera" name="file"
                                              class="fa fa-file btn btn-primary btn-success" title="" ngf-max-size="2MB" onchange="angular.element(this).scope().setFile(this)" ng-disabled="isDisabled" data-ui-file-upload >
                    </td>
                    
                    <td>
                      <button style="text-align" class="btn btn-primary btn-success" type="button" data-ng-click="submitUploadInvoice('Invoice',sectionIndex)" ng-disabled="isDisabled"><i class="fa fa-upload"></i></button>
                    </td>
                    

                    
                    <td>
                      <a class="btn btn-primary btn-success color-reverse" data-ng-show="store.invoiceDocUuid" href="{{urlDomain}}/pddDocDownload.json?uuid={{store.invoiceDocUuid}}&applicationId={{store.applicationId}}" target="_blank" ><i class="fa fa-download"></i></a>
                    </td>
                    

                    
                    <td>
                      <button class="btn btn-primary btn-success" type="button" ng-click="approveOrRejectDetails('approved',sectionIndex)" ng-disabled="isDisabled"><i class="glyphicon glyphicon-ok"></i></button>  
                    </td>
                    
                    <td>

                       <button class="btn btn-primary btn-danger" type="button" ng-click="approveOrRejectDetails('rejected',sectionIndex)" ng-disabled="isDisabled">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button> 
                    </td>-->
                    
                   
                    
                    
<!--                    <td>{{store.submittedDate}}</td>-->
                 
                </tr>
            </tbody>
        </table>
        
        <!--</section>-->
            </div>
        
        <!--end-->
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->
        
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                
                <div class="col-md-4 center pagination-container">
                      <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <div class="col-md-4 text-right">
                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                	<input type="text"
                               placeholder=""
                               class="form-control align_right"
                               data-ng-model="searchPages"
                               data-ng-keyup="" style="width:30%; float:right">
                     
                </div>
            </div>
        </footer>
        
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>

  
<!--<script>
      var fixedTable1 = fixTable(document.getElementById('fixed-table-container-1'));
//      var fixedTable2 = fixTable(document.getElementById('fixed-table-container-2'));
    </script>-->
