.custom-tab-headers {
	background: #ccc;
	color: #fff;
	height: 50px;
	cursor: pointer;
	margin: 5px 0px;
	padding: 15px 0px;
	text-align: center;
}
.TabHeading {
	cursor: pointer;
}
.formContainer > div {
	display: none;
}
.formContainer > div:first-child {
	display: block;
}
#powermail_fieldwrap_331 {
	display: none;
}
.DefaultActive {
	background: #31c0be;
}
/*=======================Alert Box OTP======================*/
        
       

.backdrop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200%;
	background: #000;
	opacity: .0;
	filter: alpha(opacity=0);
	z-index: 50;
	display: none;
}
.SendOtpbox {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	height: auto;
	background: #ffffff;
	z-index: 51;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #444444;
	-webkit-box-shadow: 0px 0px 5px #444444;
	box-shadow: 0px 0px 5px #444444;
	display: none;
}
.close {
	float: right;
	margin-right: 6px;
	cursor: pointer;
}
.otp_close {
	position: absolute;
	right: -10px;
	top: -10px;
	border-radius: 50%;
}
/*================Tabs================*/
        
.TabDisabled {
	color: #666;
	background: #ccc;
}
.TabActive {
	color: #fff;
	background: #31c0be;
}
.TabEnable {
	color: #fff;
	background: #ccc;
}
/*=======================Login Page======================*/
.signin_footer {
	position: fixed;
	bottom: 0px;
	background: #ffcb05;
	width: 100%;
	padding: 5px 10px;
	z-index: 9999;
	left: 0px;
}
.signIn_image {
	float: right;
}
.signIn_container {
	padding: 0px 50px;
}
/*=======================Validation Error======================*/
.error {
	color: #f00;
	font-size: 19px;
	position: absolute;
	left: 0px;
	display:block !important;
}
.errorLogin {
	color: #f00;
	font-size: 19px;
	position: absolute;
	left: -10px;
	top: -5px;
	display:block !important;
}
/*===============ARRAY============*/
.array_main {
	margin-top: 20px;
}
.heading_array {
	text-align: center;
	font-size: 20px;
	margin: 10px 0px;
	color: #31c0be;
	font-weight: bold;
}
.heading_arrayID {
	text-align: left;
	font-size: 20px;
	margin: 10px 15px;
	color: #31c0be;
	font-weight: bold;
}
.array_btn {
	text-align: center;
}
.add_btn {
	background: url(../images/add_icon.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer
}
.delete_btn {
	background: url(../images/less_icon.png) no-repeat;
	width: 50px;
	height: 50px;
	cursor: pointer;
	text-align: right
}
.float_right {
	float: right;
}
.align_right {
	text-align: right;
}
.center_btn {
	text-align: center;
	margin: 15px 0px;
}
/*=====================alignment=====================*/
.center {
	text-align: center;
}
.align_right {
	text-align: right;
}
.no_padding {
	padding: 0px;
}
.align_left {
	text-align: left;
}
.clear_both {
	clear: both;
}
.margin_top__13 {
	margin-top: 13px;
}
.applicant_arr {
	padding:10px 0px;
	border-top: 1px solid #666;
	margin-bottom: 10px;
}
.bank_arr {
	padding:10px 0px;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}
.margin_bottom_13 {
	margin-bottom: 13px;
}
/*================Documents====================*/
.link_color {
	color: #1a9ee5;
}
.small_txtbox {
	width: 80% !important;
	border-width: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
.chkbox {
	border: 1px solid #333;
	background: #fff;
}
.paddingTop5 {
	padding-top: 5px;
	padding-bottom: 15px;
}
.marginBottom5 {
	margin-bottom: 5px;
}
.panel-heading14 {
	font-size: 14px;
	text-transform: uppercase;
}
.file-input-name {
	display: none !important;
}
/*==============Accordion==============*/
.accordion_heading {
	text-decoration: underline;
	cursor: pointer;
}
/*============Buttons ==================*/


/*======loader===*/
.loader_img {
	display: none;
	z-index: 2147483648;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
}
/*==============Document=============*/
.document_arr {
	clear: both;
	margin-bottom: 10px
}
/*==============Document=============*/
.document_arr {
	clear: both;
	margin-bottom: 10px
}
/*-----*/
.accordion_bg .accordion-toggle {
	background: #fff !important;
	margin-bottom: 15px;
}
.disabled-value {
	border: 1px solid #ccc;
	width: 100%;
	display: block;
	padding: 4px 0px;
	padding-left: 10px;
	background: #eee;
	height: 30px;
	color: #767676
}
/*-----*/

.disabled {
	cursor: not-allowed;
}
#nav .nav-active a {
	pointer-events: none;
	cursor: default;
}
.disable-anchor {
	pointer-events: none;
	cursor: default;
}
.active_link {
	text-decoration: underline;
	color: #1a9ee5;
}
.active_link:hover {
	text-decoration: underline;
	color: #1a9ee5;
}
/*==========TOOLTIP============*/
.tooltip_placement {
	position: absolute;
	right: 15px;
	top: 15px;
	color: #000;
	font-size: 15px;
}
/*========MANDETORYCOLOR=============*/
.mandetory_color {
	color: #333 !important;
}
/*========FOCUS=============*/
input:focus {
	border: 1px solid #09F !important;
}
select:focus {
	border: 1px solid #09F !important;
}
.padding-left2px {
	padding-left: 5px !important;
}
.sourcingHead {
	padding: 15px;
	background: #eee;
	color: #333;
	border: 1px solid #333
}
.margin-top-15px {
	margin-top: 15px;
}
.new_btn {margin-top:-5px; padding:5px}
.red {color:red;}

