<div class="page" id="fttScreen">
    <form name="form" autocomplete="off">
        <strong data-ng-hide="profileId == 5"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>
        <section class="panel panel-default" data-ng-show="profileId == 5">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> RCU Documents </strong><span style="float:right; text-transform:capitalize"> </div>

            <div class="panel-body" data-ng-init="preloadRCUDocument()" data-ng-controller="RCUTriggerDocumentCtrl">
                <fieldset ng-disabled="isDisabled == true">
                    <div class="col-md-12 col-xs-12">    
                        <div class="document form-group">
                            <div class="form-group">
                                <div class="col-md-12 sourcingHead">
                                    <!--                                <div class="col-md-4 no_padding"><b>Application ID</b> : {{sanctionedvobolst[0].applicationID}}</div>
                                                                    <br>
                                                                    <div class="col-md-4 no_padding"><b>Applicant Name</b> : {{sanctionedvobolst[0].fullName}}</div>
                                                                    <br>
                                                                    <br>-->
                                    <table border="0" class="table-responsive col-md-12 no_padding">
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>Application ID</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{applicationId}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>Application Status</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.rcuStatus}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>Associate Name</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.flsName}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>RCU Vendor Name</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.rcuVendorName}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>City</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.city}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>Product</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.product}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>Product Category</label></td>
                                            <td class="col-md-8 no_padding"><label>: {{rcuApplicantArr.productCategory}}</label></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                &nbsp;
                            </div>
                            <div class="form-group" ng-repeat="documentDataObj in rcuApplicantArr.applicantDetails" ng-init="sectionIndex = $index"> 
                                <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                                    <accordion-group is-open="true" heading="{{documentDataObj.applicantName}} ({{documentDataObj.applicantType}})">
                                        <div class="col-md-12 table-responsive">
                                            <div class="form-group">
                                                <label class="col-sm-4">Address</label>
                                                <div class="col-sm-8">
                                                    {{documentDataObj.applicantAddress}}
                                                </div>
                                            </div>
                                            <table class="form-group table table-dynamic table-responsive" cellpadding="5" cellspacing  ="5" border="1" width="100%" style="text-align:center;">
       
                                                <tr style="background-color: lightgrey; text-height: max-size">
                                                    <th><div class="th">Document Name</div></th>
                                                    <th><div class="th">Document Id</div></th>
                                                    <th><div class="th">Download</div></th>
                                                    <th><div class="th">Screening completed</div></th>
                                                    <!--<th><div class="th">Profile</div></th>-->
                                                    <th><div class="th">Pick for sampling</div></th>
                                                    <th><div class="th">Sampling status</div></th>
                                                </tr>
                                                <tr data-ng-repeat="doc in documentDataObj.documents">
                                                    <td>{{doc.docName}}</td>
                                                    <td>{{doc.docId}}</td>
                                                    <td>
                                                        <a class="link_color" href="{{urlDomain}}/rcuTriggerDocDownload.json?uuid={{doc.uuid}}&applicationId={{applicationId}}" target="_blank">{{doc.childDocName}}</a>
                                                    </td>
                                                    <td><input type="checkbox" data-ng-checked="doc.screeningCompleted == true " data-ng-model="doc.screeningCompleted"></td>

                                                    <td><label><strong>
                                                <input type="radio" data-ng-model="doc.pickForSampling" data-ng-change="disableSampling= false " value="Yes" />
                                                Yes
                                            </strong></label>&nbsp;
                                        <label><strong>
                                                <input type="radio" data-ng-model="doc.pickForSampling" data-ng-change="disableSampling= true;doc.samplingStatus ='Positive' " value="No"  />
                                                No
                                            </strong></label></td>
                                                    <td>
                                                        <span class="ui-select">                                                            
                                                            <select style="width:100%"  ng-model="doc.samplingStatus" ng-change="ChangercuSamplingStatus()" name="Action" data-ng-disabled="disableSampling">
                                                                <option ng-repeat="item in samplingStatusArr" ng-selected="{{doc.samplingStatus == item.value}}" value="{{item.value}}">{{item.description}}</option>
                                                            </select>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>

                            <div class="form-container col-md-12">
                                <div class="col-md-3">
                                    <label style="text-height: max-size">RCU Sampling status</label>
                                </div>
                                <div class="col-md-5">
                                    <input style="text-transform: uppercase"  type="text"  class="form-control" name="samplingOutcome" maxlength="40"  data-ng-model="samplingOutcome"  disabled>
                                </div>
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="form-container col-md-12">
                                &nbsp;
                            </div>
                            <div class="form-container col-md-12">
                                <div class="col-md-3">
                                    <label style="text-height: max-size">Remark</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea style="text-transform: uppercase" type="text" maxlength="1000" placeholder="Enter Remark" class="form-control" data-ng-model="remark"></textarea>
                                </div>
                            </div>
                            <div class="form-container col-md-12">
                                &nbsp;
                            </div>
                            <div class="form-container col-md-12">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-4">
                                    <button class="form-control btn-round btn-success" ng-click="validateRCUDocuments('save')">Save</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="form-control btn-round btn-success" ng-click="validateRCUDocuments('submit')">Submit</button>
                                </div>
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section> 
    </form>
</div>