<div class="page-forgot" data-ng-controller="forgot">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <!--<a href="#/">{{main.brand}}</a>-->
                <a href="#/"><img src="images/assets/L&T_Financial-logo_1.png" /></a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Reset Password</h2>
        <!--<p class="text-small">Enter your user name. We'll send you an email with your username and password.</p>-->
        <p class="text-small">Enter your user name bellow to reset password.</p>
    </div>

    <div class="form-container">

        <form class="form-horizontal" name="forgotPasswordForm">
            <div class="form-group">
                <div class="input-group input-group-lg">
                <span class="input-group-addon"> 
                    <span class="glyphicon glyphicon-user"></span>
                     </span><input type="text"
                       class="form-control input-lg"
                       data-ng-model="userName"
                       required AUTOCOMPLETE = "off"
                       placeholder="User Name">
            </div>
                </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" ng-click="send()">Reset Password</button>
                <!--<a href="#/" class="btn btn-lg btn-block btn-primary" >Send</a>-->
            </div>
        </form>
        
    </div>
</div>