<div class="page-forgot" data-ng-controller="reset">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <!--<a href="#/">{{main.brand}}</a>-->
                <a href="#/"><img src="images/assets/logo.png" /></a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Password Reset</h2>
        <p class="text-small">Set Password As Your's Choice.</p>
    </div>

    <div class="form-container">

        <form class="form-horizontal" name="resetPasswordForm">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password"
                           class="form-control input-lg"
                           data-ng-model="password"
                           placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password"
                           class="form-control input-lg"
                           data-ng-model="confirmPassword"
                           placeholder="Confirm New Password">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" ng-click="resetPassword()">Reset Password</button>
                <!--<a href="#/" class="btn btn-lg btn-block btn-primary" >Reset Password</a>-->
            </div>
        </form>

    </div>
</div>