<div class="page-signup">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <!--<a href="#/">{{main.brand}}</a>-->
                <a href="#/"><img src="images/assets/logo.png" /></a>
            </section>
        </div>
    </div>

    <div class="signup-body">
        <div class="container">
            <div class="form-container">

                <!--<section class="row signin-social text-center">
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-twitter"><i class="fa fa-twitter"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-facebook"><i class="fa fa-facebook"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-icon btn-icon-sm bg-google-plus"><i class="fa fa-google-plus"></i></a>
                </section>

                <span class="line-thru">OR</span>-->

                <section>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input  type="text"
                                        class="form-control"
                                        placeholder="User name"
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="Password"
                                       >
                            </div>
                        </div>

                        <div class="form-group">
                            <p class="text-muted text-small">By clicking on Sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
                            <div class="divider"></div>
                            <a href="#/" class="btn btn-primary btn-block btn-lg">Sign up</a>
                        </div>
 
                    </form>
                </section>

                <section>
                    <p class="text-center text-muted">Already have an account? <a href="#/pages/signin" >Log in now</a></p>
                </section>

            </div>
        </div>
    </div>
</div>