<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span> <span
				data-i18n="Data"></span></strong>
		</div>
		<div class="panel-body" data-ng-controller="flotChartCtrl">
			<div data-flot-chart data-data="line1.data"
				data-options="line1.options" style="width: 100%; height: 300px;"></div>
		</div>
	</div>


	<!-- stats -->
	<div class="row">
		<div class="col-lg-3 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-success"> <i class="fa fa-rocket"></i>
				</span>
				<div class="box-info">
					<p class="size-h2">
						25 <span class="size-h4">%</span>
					</p>
					<p class="text-muted">
						<span data-i18n="Growth"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-info"> <i class="fa fa-users"></i>
				</span>
				<div class="box-info">
					<p class="size-h2">112</p>
					<p class="text-muted">
						<span data-i18n="New users"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-warning"> <i class="fa fa-dollar"></i>
				</span>
				<div class="box-info">
					<p class="size-h2">4,550</p>
					<p class="text-muted">
						<span data-i18n="Profit"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-xsm-6">
			<div class="panel mini-box">
				<span class="box-icon bg-danger"> <i
					class="fa fa-shopping-cart"></i>
				</span>
				<div class="box-info">
					<p class="size-h2">262</p>
					<p class="text-muted">
						<span data-i18n="Sales"></span>
					</p>
				</div>
			</div>
		</div>

	</div>
	<!-- end stats -->


	<div class="row">
		<div class="col-md-8">
			<section class="panel panel-default">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th"></span> <span
						data-i18n="Map"></span></strong>
				</div>
				<div class="panel-body" data-ng-controller="jqvmapCtrl">
					<div class="ui-map" ui-jqvmap options="worldMap"></div>
				</div>
			</section>
		</div>
		<div class="col-md-4">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Realtime Chart</h3>
				</div>
				<div class="panel-body" data-ng-controller="flotChartCtrl.realtime">
					<div data-flot-chart-realtime data-type="realtime"
						style="width: 100%; height: 400px;"></div>
				</div>
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span> Table</strong>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Project</th>
					<th>Status</th>
					<th>Manager</th>
					<th>Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><span class="color-success"><i
							class="fa fa-level-up"></i></span> TWLT</td>
					<td><span class="label label-info">Pending</span></td>
					<td>Amery Lee</td>
					<td><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
				</tr>
				<tr>
					<td>2</td>
					<td><span class="color-success"><i
							class="fa fa-level-up"></i></span> A16Z</td>
					<td><span class="label label-primary">Due</span></td>
					<td>Romayne Carlyn</td>
					<td><progressbar class="progressbar-xs no-margin" value="34"
							type="success"></progressbar></td>
				</tr>
				<tr>
					<td>3</td>
					<td><span class="color-warning"><i
							class="fa fa-level-down"></i></span> DARK</td>
					<td><span class="label label-success">Due</span></td>
					<td>Marybeth Joanna</td>
					<td><progressbar class="progressbar-xs no-margin" value="68"
							type="info"></progressbar></td>
				</tr>
				<tr>
					<td>4</td>
					<td><span class="color-info"><i class="fa fa-level-up"></i></span>
						Q300</td>
					<td><span class="label label-danger">Blocked</span></td>
					<td>Jonah Benny</td>
					<td><progressbar class="progressbar-xs no-margin" value="52"
							type="warning"></progressbar></td>
				</tr>
				<tr>
					<td>5</td>
					<td><span class="color-danger"><i
							class="fa fa-level-down"></i></span> RVNG</td>
					<td><span class="label label-warning">Suspended</span></td>
					<td>Daly Royle</td>
					<td><progressbar class="progressbar-xs no-margin" value="77"
							type="danger"></progressbar></td>
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td><span class="color-info"><i
							class="fa fa-level-down"></i></span> FDSA</td>
					<td><span class="label label-info">Suspended</span></td>
					<td>Jane Swift</td>
					<td><progressbar class="progressbar-xs no-margin" value="55"
							type="success"></progressbar></td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
