<div class="page page-table" data-ng-init="preloadDashboard()" data-ng-controller="asmDashboardController">
    <!-- DashBoard Table Starts-->
    <strong data-ng-hide="profileId == 7"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>
    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 7">
        <div class="panel-heading" style="height:40px;">
            <div class="col-sm-12 col-xs-12 no_padding">
                <div class="col-sm-6 col-xs-6 no_padding" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">
                    <strong><span class="glyphicon glyphicon-th"></span> Area Sales Manager Dashboard</strong>
                </div>

            </div>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form autocomplete="off">
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Total {{filteredStores.length}} Record(s) Found
                    </span>              
                </div>
                <div class="col-sm-5 col-xs-6">
                    <div class="form-group">
                        <div class="col-sm-11">
                            <span class="ui-select">
                                <select style="width:100%" ng-required="true" ng-change="dstChange(selectedDst)" data-ng-model="selectedDst" name="selectedDst" required >
                                    <option value="" selected hidden />
                                    <option value="-1" ng-selected="true">Select DST</option>
                                    <!--<option value="0">All DST</option>-->
                                    <option ng-repeat="dst in dstList"  value="{{dst.branchId}}">{{dst.dstName}}</option>
                                </select>
                            </span>
                        </div>
                    </div>              
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                            Application No
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('appFormNo')"
                                  data-ng-class="{active: row == 'appFormNo'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-appFormNo')"
                                  data-ng-class="{active: row == '-appFormNo'}"></span>
                        </div></th>
                    <th><div class="th">
                            Customer Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('receiptDate')"
                                  data-ng-class="{active: row == 'receiptDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-receiptDate')"
                                  data-ng-class="{active: row == '-receiptDate'}"></span>
                        </div></th>
                    <th><div class="th">
                            Creation Date
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('receiptDate')"
                                  data-ng-class="{active: row == 'receiptDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-receiptDate')"
                                  data-ng-class="{active: row == '-receiptDate'}"></span>
                        </div></th>
<!--                    <th><div class="th">
                            Sales Executive
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('dstName')"
                                  data-ng-class="{active: row == 'dstName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-dstName')"
                                  data-ng-class="{active: row == '-dstName'}"></span>
                        </div></th>-->
                    <th><div class="th">
                            Branch 
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('branchName')"
                                  data-ng-class="{active: row == 'branchName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-branchName')"
                                  data-ng-class="{active: row == '-branchName'}"></span>
                        </div></th>
                    <th><div class="th">
                            Status
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('stausDesc')"
                                  data-ng-class="{active: row == 'stausDesc'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-stausDesc')"
                                  data-ng-class="{active: row == '-stausDesc'}"></span>
                        </div></th>
                           <th><div class="th">
                            Stage
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('stage')"
                                  data-ng-class="{active: row == 'stage'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-stage')"
                                  data-ng-class="{active: row == '-stage'}"></span>
                        </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="store in currentPageStores">
                    <td><a data-ng-click="showform(store.appFormNo)" class="active_link">{{store.appFormNo}}</a></td>
                    <td>{{store.custname}}</td>
                    <td>{{store.receiptDate}}</td>
                    <!--<td>{{store.dstName}}</td>-->
                    <td>{{store.branchName}}</td>
                    <td>{{store.stausDesc}}</td>
                    <td>{{store.stage}}</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>

                <div class="col-md-4 center pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
                <div class="col-md-4 text-right">
                    <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                    <input type="text"
                           placeholder=""
                           class="form-control align_right"
                           data-ng-model="searchPages"
                           data-ng-keyup="" style="width:30%; float:right">

                </div>
            </div>
        </footer>
    </section>
</div>
