<header class="clearfix">

    <!-- Logo -->
    <div class="logo">
        <!--L&T Financial Services-->
        <img style="height: 50px; width: 200px" src="images/assets/L&T_Financial-logo_1.png" />
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-min-nav
                             class="toggle-min"
                             ><i class="fa fa-bars"></i></a>
            </li>
<!--             <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-columns"></i></a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li> <a href="javascript:;"><span data-i18n="Boxed Layout"></span></a> </li>
                    <li> <a href="javascript:;"><span data-i18n="Full Width Layout"></span></a> </li>
                    <li> <a href="javascript:;"><span data-i18n="Collapsed Menu"></span></a> </li>
                    <li> <a href="javascript:;"><span data-i18n="Horizontal Menu"></span></a> </li>
                    <li> <a href="javascript:;"><span data-i18n="Vertical Menu"></span></a> </li>
                </ul>
            </li> 
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="images/g1.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="Lisa Doe"></span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li>
                        <a href="#/pages/signin">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li> -->
            
            
       </ul> 
        <div class="Welcome_msg"> <span class="name_welcome">Welcome {{userName}}</span> | Last Login: {{lastLoginTime}} | Role: {{userRole}} | <label><a href="" style="color: blue" ng-click="logout()"><i class="fa fa-sign-out"></i><span data-i18n="Log Out"></span></a></label></div>
        <!--<div><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i><span data-i18n="Log Out"></span></a></div>-->

        <!--<ul class="nav-right pull-right list-unstyled">
            <li>
                <a href="#/"><img src="images/assets/logo.png" /></a
            </li>
        </ul>-->
    </div>

</header>
