        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
<!--        <li ng-show="profileId ==8"><a  href="#/AuditDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Audit Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Audit Dashboard" tooltip-append-to-body="true"></i></li>
        
        <li ng-show="profileId == 4"><a href="#/opsdashboard"> <i class="fa fa-dashboard"></i><span data-i18n="OPS Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="OPS Dashboard" tooltip-append-to-body="true"></i></li>-->
        
              <li ng-show="profileId == 1"><a  href="#/Dealer/pendingStatusDashBoard"> <i class="fa fa-dashboard"></i><span data-i18n="Pending Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Pending Dashboard" tooltip-append-to-body="true"></i></li>
             <li ng-show="profileId == 1"><a  href="#/documentDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="PDD Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="PDD Dashboard" tooltip-append-to-body="true"></i></li>
              <!--<li ng-show="profileId == 1"><a  href="#/dealerDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Status Dashboard" tooltip-append-to-body="true"></i></li>-->
              <li ng-show="profileId == 1"><a  href="#/statusDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Status Dashboard" tooltip-append-to-body="true"></i></li>
<!--              <li ng-show="profileId == 1"><a  href="#/documentDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="PDD Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="PDD Dashboard" tooltip-append-to-body="true"></i></li>-->
<!--              <li ng-show="profileId == 1"><a  href="#/biomatricVerify"> <i class="fa fa-dashboard"></i><span data-i18n="Biomatric Verify"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Biomatric Verify" tooltip-append-to-body="true"></i></li>-->
<!--              <li ng-show="profileId == 2"><a  href="#/builderDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Builder Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Builder Dashboard" tooltip-append-to-body="true"></i></li>-->
              <li ng-show="profileId == 2"><a  href="#/loanDashBoard"> <i class="fa fa-dashboard"></i><span data-i18n="Loan Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Loan Dashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 2"><a  href="#/statusDashBoard"> <i class="fa fa-dashboard"></i><span data-i18n="Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Status Dashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 2"><a  href="#/pipelinedashboard"> <i class="fa fa-dashboard"></i><span data-i18n="PipeLine Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Current Construction Stage" tooltip-append-to-body="true"></i></li>

              <li ng-show="profileId == 2"><a  href="#/leadGenerationDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Lead Generation Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Lead Generation Dashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 2"><a  href="#/currentConstructionStage"> <i class="fa fa-dashboard"></i><span data-i18n="Current Construction Stage"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Current Construction Stage" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 5"><a  href="#/RM/RMdashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Dashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 3"><a  href="#/OPS/opsdashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Pending Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Pending Dashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 3"><a  href="#/OPS/opsStatusdashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Status Dashboard" tooltip-append-to-body="true"></i></li>
<!--              <li ng-show="profileId == 1"><a  href="#/Dealer/pendingStatusDashBoard"> <i class="fa fa-dashboard"></i><span data-i18n="Pending Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="OPS Dashboard" tooltip-append-to-body="true"></i></li>-->
              <li ng-show="profileId == 1"><a  href="#/profileDetails"> <i class="fa fa-dashboard"></i><span data-i18n="My Profile"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="My Profile" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 6"><a  href="#/MCM/mcmDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Pre Disbursement"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="mcmDashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 6"><a  href="#/MCM/mcmDisbursementDashBoard"> <i class="fa fa-dashboard"></i><span data-i18n="Disbursement"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="mcmDashboard" tooltip-append-to-body="true"></i></li>
              <li ng-show="profileId == 6"><a  href="#/MCM/mcmPrintDocDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Loan PassBook"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="mcmDashboard" tooltip-append-to-body="true"></i></li>
              
              <li ng-show="profileId == 7"><a  href="#/CRM/crmSearch"> <i class="fa fa-dashboard"></i><span data-i18n="CRM Search"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="CRM Search" tooltip-append-to-body="true"></i></li>
        <!--<li ><a ng-show="profileId == 1"  href="#/dealer/assetLoanDetail" ><i class="fa fa-envelope-o"></i><span data-i18n="Asset Loan Detail" ></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="LPC" tooltip-append-to-body="true"></i></li>-->
<!--              <li ng-show="profileId == 1">  
            <a  href="#/pre_sancton" id="presanction-li"><i class="fa fa-envelope-o"></i><span data-i18n="Form"></span></a>
            <ul  ng-show="isDisabledPreSanction"> 

                <li><a href="#/presanction/sourcing"><i class="fa fa-caret-right"></i><span data-i18n="Home"></span> <i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Sourcing Form" tooltip-append-to-body="true"></i></a></li>

                <li><a ng-class="{ 'disable-anchor': $root.progress < 1}" href="#/presanction/applicantdetail"><i class="fa fa-caret-right"></i><span data-i18n="Applicant Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Applicant Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 2}" href="#/presanction/addressdetail"><i class="fa fa-caret-right"></i><span data-i18n="Address Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Address Form" tooltip-append-to-body="true"></i></li>
                <li ng-show="productCategory == 'FARM'"><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/fidetail"><i class="fa fa-caret-right"></i><span data-i18n="FI Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Field Investigation Details" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/occupationincome"><i class="fa fa-caret-right"></i><span data-i18n="Occupation Income"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Occupation Income Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/bankdetail"><i class="fa fa-caret-right"></i><span data-i18n="Bank Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Bank Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/referencedetail"><i class="fa fa-caret-right"></i><span data-i18n="Reference Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Reference Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/assetdetail"><i class="fa fa-caret-right"></i><span data-i18n="Asset Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Asset Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/loandetail"><i class="fa fa-caret-right"></i><span data-i18n="Loan Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Loan Form" tooltip-append-to-body="true"></i></li>
                <li><a ng-class="{ 'disable-anchor': $root.progress < 3}" href="#/presanction/document"><i class="fa fa-caret-right"></i><span data-i18n="Documents"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Presanction Document Form" tooltip-append-to-body="true"></i></li>
            </ul>
        </li>-->
        
<!--        <li ng-show="profileId == 1 || profileId == 2"><a  href="#/uwholddashboard"><i class="fa fa-dashboard"></i><span data-i18n="UW Hold Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="UW Hold Dashboard" tooltip-append-to-body="true"></i></li>
        
<li ng-show="(profileId == 1 || profileId == 2) && productCategory == 'FARM'"><a  href="#/fidashboard"><i class="fa fa-dashboard"></i><span data-i18n="FI Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Field Investigation Dashboard" tooltip-append-to-body="true"></i></li>
<li ng-show="false"><a href="#/fidashboard/fidetail"><i class="fa fa-caret-right"></i><span data-i18n="FI Detail"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Field Investigation Detail" tooltip-append-to-body="true"></i></li>
  
<li ng-show="profileId == 1 || profileId == 2"><a  href="#/postsanctiondashboard"><i class="fa fa-dashboard"></i><span data-i18n="Post Sanction Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Dashboard" tooltip-append-to-body="true"></i></li>
        <li ng-show="profileId == 1 || profileId == 2 || (profileId == 8 && applicantionPost !=  0)">
            <a  href="#/post_sancton" id="postsanction-li"><i class="fa fa-envelope-o"></i><span data-i18n="Post Sanction Form"></span></a>
            <ul  ng-show="isDisabledPostSanction"> 
                <li><a href="#/postsanction/sourcing"><i class="fa fa-caret-right"></i><span data-i18n="Sourcing"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Sourcing Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/assetdetail"><i class="fa fa-caret-right"></i><span data-i18n="Invoice Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Asset Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/charges"><i class="fa fa-caret-right"></i><span data-i18n="Charges"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Charges Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/disbursementdetail"><i class="fa fa-caret-right"></i><span data-i18n="Disbursement Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Disbursement Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/bankdetail"><i class="fa fa-caret-right"></i><span data-i18n="Bank Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Bank Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/insurancedetail"><i class="fa fa-caret-right"></i><span data-i18n="Life Insurance Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Life Insurance Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/assetinsurance"><i class="fa fa-caret-right"></i><span data-i18n="Asset Insurance  Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Asset Insurance Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/referencedetail"><i class="fa fa-caret-right"></i><span data-i18n="Reference Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Reference Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/instrumentdetail"><i class="fa fa-caret-right"></i><span data-i18n="Instrument Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Instrument Form" tooltip-append-to-body="true"></i></li>
                <li><a href="#/postsanction/documentdetail"><i class="fa fa-caret-right"></i><span data-i18n="Document Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Postsanction Document Form" tooltip-append-to-body="true"></i></li>
            </ul>
        </li> 

        <li ng-show="profileId == 1 || profileId == 2"><a  href="#/diholddashboard"><i class="fa fa-dashboard"></i><span data-i18n="DI Hold Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="DI Hold Dashboard" tooltip-append-to-body="true"></i></li>

        <li ><a ng-show="profileId == 1 || profileId == 2"  href="#/lpcdashboard" ><i class="fa fa-dashboard"></i><span data-i18n="LPC Dashboard " ></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="LPC Dashboard" tooltip-append-to-body="true"></i></li>
         
        <li ><a ng-show="(profileId == 8 && applicantionLpc !=  0)"  href="#/lpc/lpc" ><i class="fa fa-envelope-o"></i><span data-i18n="LPC" ></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="LPC" tooltip-append-to-body="true"></i></li>
        
         <li ng-show="(profileId == 8 && applicantionFormNo !=  '0')"><a  href="#/Audit/LoanStatus"> <i class="fa fa-envelope-o"></i><span data-i18n="Loan Status"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Loan Status" tooltip-append-to-body="true"></i></li>
        
         <li ng-show="profileId == 3"><a href="#/FTT/FTTDashboard" ><i class="fa fa-dashboard"></i><span data-i18n="File Tracking Dashbord"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="File Tracking Dashboard" tooltip-append-to-body="true"></i></li>
        
        <li>
                            <a href="#/lpc_lpc"><i class="fa fa-caret-right"></i><span data-i18n="LPC Form"></span></a>
            <ul>
                <li><a href="#/lpc/lpc"><i class="fa fa-caret-right"></i><span data-i18n="LPC"></span></a></li>
            </ul>
        </li>
        
        <li ><a ng-show="profileId == 1 || profileId == 2"  href="#/statusdashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Status Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Status Dashboard" tooltip-append-to-body="true"></i></li>
        <li ng-show="profileId == 1 || profileId == 2" ><a href="#/pdddashboard"> <i class="fa fa-briefcase"></i><span data-i18n="PDD Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="PDD Dashboard" tooltip-append-to-body="true"></i></li>
        <li ng-show="profileId == 1"><a href="#/salesDocument"> <i class="fa fa-briefcase"></i><span data-i18n="File Submission"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="File Submission" tooltip-append-to-body="true"></i></li>
        <li>
            <a  href="#/RCU/RCUDashboard" ng-show="profileId == 5"> <i class="fa fa-dashboard"></i><span data-i18n="RCU Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="RCU Dashboard" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/RCUTrigger/RCUDashboard" ng-show="profileId == 12"> <i class="fa fa-dashboard"></i><span data-i18n="RCU Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="RCU Dashboard" tooltip-append-to-body="true"></i>     
        </li>
        <li ng-show="profileId == 7"><a href="#/ASMDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="ASM Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="ASM Dashboard" tooltip-append-to-body="true"></i></li>

        <li>
            <a  href="#/opsreport" ng-show="profileId == 4"> <i class="fa fa-tasks"></i><span data-i18n="OPS Report"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="OPS Report" tooltip-append-to-body="true"></i>     
        </li> 
                <li>
                    <a  href="#/FAQ's"> <i class="fa fa-question-circle"></i><span data-i18n="FAQ's"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Frequently Asked Questions" tooltip-append-to-body="true"></i>     
                </li>
        <li>
            <a  href="#/Reports/ASMReport" ng-show="profileId == 9"> <i class="fa fa-tasks"></i><span data-i18n="ASM Report"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Download ASM Report" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Reports/ASMCountReport" ng-show="profileId == 9"> <i class="fa fa-tasks"></i><span data-i18n="ASM Count Report"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Download ASM Count Report" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/AutoRetryDashboard" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="AutoRetry Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="AutoRetry Dashboard" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/StatusMismatchDashboard" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="StatusMismatch Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="StatusMismatch Dashboard" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/UserDetails" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="User Details"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="User Details" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/DocumentPromotionMapping" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="Document Promotion Mapping"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Document Promotion Mapping" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/executeProcedure" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="Execute Procedure"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Execute Procedure" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/employeeMstrSync" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="Employee Master Sync"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Employee Master Sync" tooltip-append-to-body="true"></i>     
        </li>
        <li>
            <a  href="#/Support/DigitizedForm" ng-show="profileId == 6"> <i class="fa fa-dashboard"></i><span data-i18n="Generate Digitized Form"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Generate Digitized Form" tooltip-append-to-body="true"></i>     
        </li>
        <li ng-show="profileId == 10"><a href="#/Bank/DocumentDashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Document Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="LMS Document Dashboard" tooltip-append-to-body="true"></i></li>
        <li ng-show="profileId == 10 && docLink!=0"><a href="#/Bank/Documents"> <i class="fa fa-caret-right"></i><span data-i18n="Documents"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="LMS Documents" tooltip-append-to-body="true"></i></li>
        <li>
            <a  href="#/Support/RepunchDashboard" ng-show="profileId == 6 || profileId == 11"> <i class="fa fa-times-circle" aria-hidden="true"></i><span data-i18n="Repunch Dashboard"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Repunch Dashboard" tooltip-append-to-body="true"></i>     
        </li>
                <li>
            <a  href="#/FAQ's"> <i class="fa fa-question-circle"></i><span data-i18n="FAQ's"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Frequently Asked Questions" tooltip-append-to-body="true"></i>     
        </li>
        <li><a  href="#/feedback"> <i class="fa fa-comment"></i><span data-i18n="Report an Issue"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Report an Issue" tooltip-append-to-body="true"></i></li>-->
        <!--<li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i><span data-i18n="Log Out"></span></a><i  class="fa fa-info-circle tooltip_placement" tooltip-placement="right" tooltip="Exit Session " tooltip-append-to-body="true"></i></li>-->
    </ul>
</div>
