<div class="page page-table" data-ng-init="loadSearchCriteria();preloadDashboard(fromRowNum, toRowNum)" data-ng-controller="statusDashboardCtrl">

    <!-- DashBoard Table Starts-->
    <strong data-ng-hide="profileId == 1 || profileId == 2"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>
    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1 || profileId == 2">
        <div class="panel-heading"><strong>Status Enquiry Dashboard</strong>
            </div>

         <div class="row">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.criteria}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="tel" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadDashboard(fromRowNum, toRowNum)">
                        <!--<input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >-->	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate(fromRowNum, toRowNum)">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
<!--                            <span>-->
                                <!--                        Total {{totalItems}} Record(s) Found-->
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            <!--</span>-->              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                        Application No
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationNo'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationNo'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationNo'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationNo'}"></span>
                    </div></th>
                    <th><div class="th">
                        Customer Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'customerName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-customerName'}"></span>
                    </div></th>
                    <th><div class="th">
                        Product
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'product'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-product'}"></span>
                    </div></th>
                    <th><div class="th">
                        Scheme
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'scheme'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'scheme'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'scheme'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-scheme'}"></span>
                    </div></th>
                    <th><div class="th">
                        Mobile Number
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'mobileNumber'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'mobileNumber'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'mobileNumber'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-mobileNumber'}"></span>
                    </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                    <th><div class="th">
                        Stage
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'stage'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'stage'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'stage'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-stage'}"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse">
                    <td>
                        <a data-ng-click="showform(store.applicationNo, store.progress)" class="active_link" >
                            {{store.applicationNo}}
                        </a>
                    </td>
                    <td>{{store.customerName}}</td>
                    <td>{{store.product}}</td>
                    <td>{{store.scheme}}</td>
                    <td>{{store.mobileNumber}}</td>
                    <td>{{store.status}}</td>
                    <td>{{store.stage}}</td>
                </tr>
            </tbody>
        </table>
<!--        <table>
            <tr>
                <th>Application ID</th> 
            </tr>
            <tr style="width: 100%; ">
                <a data-ng-click="showform('H06011601713', 3 )" class="active_link ng-binding">H06011601713</a>
            </tr>
            &nbsp;
            <tr data-ng-repeat="store in currentPageStores" style="width: 100%; ">
                <a data-ng-click="showform('H21011602303', 3)" class="active_link ng-binding">H21011602303</a>
            </tr>
            &nbsp;
            <tr data-ng-repeat="store in currentPageStores" style="width: 100%; ">
                <a data-ng-click="showform('H22121500605', 3)" class="active_link ng-binding">H22121500605</a>
            </tr>
        </table>-->

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                </div>
<!--                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>-->
 <div class="col-md-6 center pagination-container">
                    <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
            </div>
        </footer>
    </section>

    <!-- DashBoard Table Ends-->
 </div>