<div class="page page-table" data-ng-init="preloadMCMPortalDashboard(fromRowNum, toRowNum)" data-ng-controller="McmPortalDashboardCtrl">

    <!-- DashBoard Table Starts-->
     <!--<strong data-ng-hide="profileId == 3"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <section class="panel panel-default table-dynamic table-responsive">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Pre-Disbursement Dashboard</strong></div>

<!--                <div class="row">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.id}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="tel" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadOpsDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadOpsDashboard(fromRowNum, toRowNum)">
                        <input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate()">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
                            <span>
                                                        Total {{totalItems}} Record(s) Found
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            </span>              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>-->
        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                        Group Id 
                    </div></th>
<!--                    <th><div class="th">
                        Group Name
                            Group Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'groupName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'groupName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'groupName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-groupName'}"></span>
                    </div></th>-->
<!--                    <th><div class="th">
                        Flo Name
                           MC Code
                    </div></th>
                    <th><div class="th">
                        Product
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'product'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'product'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-product'}"></span>
                    </div></th>-->
                    <th><div class="th">
                        Village Name
                    </div></th>
<!--                    <th><div class="th">
                        Locality
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'status'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                    -->
                    <th><div class="th">
                        FLO Name
                    </div></th>
                    
                    <th><div class="th">
                        Sanction Date
                    </div></th>
                    
                    <th><div class="th">
                       No of Applications
                    </div></th>
                    
                    <th><div class="th">
                       Credit validity Status
                    </div></th>
<!--                    <th><div class="th">
                        Submitted Date
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('submittedDate') "
                              data-ng-class="{active: row == 'submittedDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-submittedDate') "
                              data-ng-class="{active: row == '-submittedDate'}"></span>
                    </div></th>-->
                </tr>
            </thead>
            <tbody>
                <tr style="width: 151px">
                    <td></td>
<!--                    <td ></td>-->
                    <td ><input class="form-control col-md-3" ng-model="searchVillageName" placeholder="search Village Name" type="text"  /></td>
                    <td ><input class="form-control col-md-3" ng-model="searchFloName" placeholder="search Flo Name" type="text"  /></td>
                    <td ><input class="form-control col-md-3" ng-model="searchSanctionDate" placeholder="" type="date" /></td>
                    <td ><input class="form-control col-md-3" ng-model="searchCount" placeholder="Search No of Applications" type="text"  /></td>
                    <td></td>
                </tr>
<!--                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse">-->
                    <tr data-ng-repeat="store in currentPageStores | filter:{villageName:searchVillageName} | filter:{floName:searchFloName} | filter:{count:searchCount} " ng-init="sectionIndex = $index">
<!--                       <tr data-ng-repeat="store in currentPageStores|filter:{villageName:searchVillageName}"
                        data-ng-repeat="store in currentPageStores|filter:{floName:searchFloName}"
                        data-ng-repeat="store in currentPageStores|filter:{sanctionDate:searchSanctionDate}"
                        data-ng-repeat="store in currentPageStores|filter:{count:searchCount}">-->
<td><a data-ng-click="showform(store.grpId,store.groupId ,store.status,store.localityId,store.villageName,store.floId)" class="active_link">{{store.groupId}}</a></td>
                    <td>{{store.villageName}}</td>                 
                  <td>{{store.floName}}</td>
                 <td>{{store.sanctionDate}}</td>
<!--                    <td>{{store.localityId}}</td>-->
<!--                    <td>{{store.status}}</td>-->
                   <td>{{store.count}}</td>
                   <td>{{store.creditValidateStatus}}</td>
<!--                    <td>{{store.submittedDate}}</td>-->
                </tr>
            </tbody>
        </table>
            
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->
        
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                
                <div class="col-md-4 center pagination-container">
                      <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <div class="col-md-4 text-right">
<!--                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                	<input type="text"
                               placeholder=""
                               class="form-control align_right"
                               data-ng-model="searchPages"
                               data-ng-keyup="" style="width:30%; float:right">
                     
                </div>-->
            </div>
<!--            <div class="row paddingTop5 ">
                <div class="col-md-12 text-right paddingTop5">
                    <button  class="btn btn-success btn-w-xs color_white" ng-click="initiateDisbursemwnt(rowIndex)" data-ng-disabled='isValid' type="button"><i class="fa fa-file-text-o"></i> Initiate Disbursement </button>
                </div>
            </div>-->
        </footer>
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>
  
