<div class="page page-table" data-ng-init="preloadMCMDisbursementDetails(fromRowNum, toRowNum, userNameForLogin,'mcmDetails');" data-ng-controller="McmDisbursementDetailCtrl">

    
    <!-- DashBoard Table Starts-->
    <!--     <strong data-ng-hide="profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <!--    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1">-->
    
      
    
    <section class="panel panel-default table-dynamic table-responsive">
        
         <div class="panel-heading" style="height:40px;">
            <div class="col-sm-12 col-xs-12 no_padding">
                <div class="col-sm-6 col-xs-6 no_padding" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">
                    <strong><span class="glyphicon glyphicon-th"></span>Application Details</strong>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <section class="panel panel-default table-dynamic" style="width: 100%; overflow: auto;">

                <table class="table table-bordered table-striped" width="100%">

                    <thead>
                        <tr style="height: 40px">
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px ;width:50px">
                                    Application Id
                                </div></th>

                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px; width:50px">
                                     Applicant  
                                </div></th>

<!--                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Co Applicant Name
                                </div></th>-->

                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px; width:65px">
                                    Loan Amount
                                </div></th>

                            <th style="width:50px"><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px ;width:70px">
                                    Net Disb. Amount
                                </div></th>

                            <th style="width:50px"><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px ;">
                                    Aadhar Number
                                </div></th>
<!--                           <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Member Present 
                                </div></th>-->
                            
<!--                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Mobile No 
                                </div></th>
                                
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Preferred Language  
                                </div></th>-->
                                
                            <th style="width:50px"><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Initiate E-Sign
                                </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="abc in grpMembers" class="table-responsive" data-ng-init="rowIndex=$index">
                            <td style="width:10px">{{abc.applicationId}}</td>
                            <td style="width:100px">{{abc.primaryApplicant}}</br>
                                {{abc.coApplicants}}
                            </td>
<!--                            <td>{{abc.coApplicants}}</td>-->
                            <td style="width:50px">{{abc.loanAmount !=null &&abc.loanAmount !=""?abc.loanAmount :" "}}</td>
                            <td style="width:50px">{{abc.netDisbursementAmt ==null ?abc.netDisbursementAmt :0}}
                                <td style="width:70px">
                                <input type="text" maxlength="18"  data-ng-model="abc.adharNumber"  class="form-control">
                            </td>
<!--                            <td>
                                <input type="checkbox" Style="width:20px; height: 20px" data-ng-model="abc.isMemberPresent"   class="form-control">
                            </td>-->
<!--                            <td>
                                <input type="text" maxlength="200"  data-ng-model="abc.mobileNo"  class="form-control">
                            </td>-->
<!--                            <td>
                                <select style="width:100%" class="form-control" ng-required="true" data-ng-model="abc.preferredLangugae" name="" required >
                                <option ng-repeat=""></option>
                            </select>-->
                            </td>

                            <td style="width:30px">
                                <button class="btn btn-primary btn-success" style="background-color: green"  type="button" data-ng-disabled="abc.isActive" ng-click="initiateEsign(rowIndex)"><i class="fa fa-chevron-circle-right"></i></button>  
                            </td>

                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </section>
    
    <!-- DashBoard Table Ends-->
</div>

