<div class="page page-table" data-ng-init="preloadMCMPrintDocDashboard(fromRowNum, toRowNum)" data-ng-controller="McmPrintDocDashboardCtrl">

    <!-- DashBoard Table Starts-->
     <!--<strong data-ng-hide="profileId == 3"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <section class="panel panel-default table-dynamic table-responsive">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Pre-Disbursement Dashboard</strong></div>
        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                 <tr>
                    <th><div class="th">
                        Group Id 
                    </div></th>
                    <th><div class="th">
                        Village Name 
                    </div></th>

                    <th><div class="th">
                        Sanction Date
                    </div></th>
                    <th><div class="th">
                        Disbursement Date
                    </div></th>
                    <th><div class="th">
                        Collection Date
                    </div></th>
                    <th><div class="th">
                        Status
                    </div></th>
                </tr>
            </thead>
            <tbody>
             <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse" data-ng-init="rowIndex=$index">
                    <td><a data-ng-click="showform(store.grpId,store.groupId ,store.status,store.localityId,store.villageName,store.floId,rowIndex)" class="active_link">{{store.groupId}}</a></td>
<!--                    <td>{{store.groupName}}</td>-->
                    <td>{{store.villageName}}</td>
                    <td>{{store.sanctionDate}}</td>
                    <td>{{store.disbursementDate}}</td>
                    <td>{{store.collectionDate}}</td>
                    <td>{{store.status}}</td>
                </tr>
            </tbody>
        </table>
            
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->
        
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                
                <div class="col-md-4 center pagination-container">
                      <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <div class="col-md-4 text-right">
<!--                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                	<input type="text"
                               placeholder=""
                               class="form-control align_right"
                               data-ng-model="searchPages"
                               data-ng-keyup="" style="width:30%; float:right">
                     
                </div>-->
            </div>
<!--            <div class="row paddingTop5 ">
                <div class="col-md-12 text-right paddingTop5">
                    <button  class="btn btn-success btn-w-xs color_white" ng-click="initiateDisbursemwnt(rowIndex)" data-ng-disabled='isValid' type="button"><i class="fa fa-file-text-o"></i> Initiate Disbursement </button>
                </div>
            </div>-->
        </footer>
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>
  
