<div class="page page-table" data-ng-init="preloadMCMPrintDetails(fromRowNum, toRowNum, userNameForLogin,'mcmDetails');" data-ng-controller="McmPrintDetailsDashboardCtrl">

    
    <!-- DashBoard Table Starts-->
    <!--     <strong data-ng-hide="profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <!--    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 1">-->
    
       <div class="row form-group">
            <div class="form-group" style="padding: 10px;">
                        <div class="col-md-12 sourcingHead">
                            <div class="col-md-2 no_padding"><b>Group ID</b> : {{displayGroupId}}</div>
                            <div class="col-md-2 no_padding"><b>MC Code</b> : {{groupDetails.mcCode}}</div>
                            <div class="col-md-3 no_padding"><b>FLO Name</b> : {{displayFloName}}</div>
                            <div class="col-md-3 no_padding"><b>Village Name</b> : {{groupDetails.villageName}}</div>
                            <div class="col-md-2 no_padding"><b>Sanction Date</b> : {{groupDetails.sanctionDate}}</div>

                        </div>
                    </div>
        </div>
    
    <section class="panel panel-default table-dynamic table-responsive">
     
                <div class="panel-heading" style="height:50px;">
            <div class="col-sm-12 col-xs-12 no_padding">
                <div class="col-sm-6 col-xs-6 no_padding" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">
                    <strong><span class="glyphicon glyphicon-th"></span>Application Details</strong>
                </div>
            </div>
        </div>
      
<section>
        <div class="table-responsive">
            <section class="panel panel-default table-dynamic" style="width: 100%; overflow: auto;">

                <table class="table table-bordered table-striped" width="100%">

                    <thead>
                        <tr>
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Application Id
                                </div></th>

                                <th style="width:100px"><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;">
                                     Applicants  
                                </div></th>

<!--                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Co Applicant Name
                                </div></th>-->

                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px; width:65px">
                                    Loan Amount
                                </div></th>

                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;width:40px">
                                    Loan Term 
                                </div></th>
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;width:65px">
                                    EMI </br>Amount
                                </div></th>
                                <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;width:65px">
                                    CLI </br>Amount
                                </div></th>
                                <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;width:65px">
                                    Proc </br>Fee
                                </div></th>
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Appraisal Flag
                                </div></th>
                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px ;width:70px">
                                    Net Disb. Amount 
                                </div></th>
                                
                               <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px;width:80px">
                                   Disbursement Mode
                                </div></th>
                                
                             <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                   Bank Account Number</br>    
                                   IFSC Code
                                </div></th>
                                
                                 <th style="width:50px"><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Print PassBook
                                </div></th>

             <!--                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px; width: 125px">
                                    IFSC Code
                                </div></th>-->

<!--                            <th><div style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px; padding-top: 5px">
                                    Validate Account
                                </div></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="abc in grpMembers" class="table-responsive" data-ng-init="rowIndex=$index">
                            <td>{{abc.applicationId}}</td>
                            <td>
                                {{abc.primaryApplicant}}<br>
                                <!--<p>{{abc.coApplicants}}</p><br>-->
                                <p>{{abc.coApplicants}}</p>
                            </td>
<!--                            <td>{{abc.coApplicants}}</td>-->
<!--                            {{(store.cli_Premium != null && store.cli_Premium !="" ? store.cli_Premium : 0)}}-->
                            <td>{{abc.loanAmount !=null &&abc.loanAmount !=""?abc.loanAmount :" "}}</td>
                            <td>{{abc.loanTenure}}</td>
                            <td>{{abc.emi}}</td>

                            <td>{{abc.cliAmount !=null && abc.cliAmount !=""?abc.cliAmount:0 }}</td>
                            <td>{{abc.procFee !=null && abc.procFee !=""?abc.procFee:0}}</td>
                            <td>{{abc.appraisalflag}}</td>
                            <td>{{abc.netDisbursementAmt ==null ?abc.netDisbursementAmt :0}}
                                
                              <td>
                                {{abc.modeOfDisbursement}}
                            </td>
                              
                            <td>
                               {{abc.bankAccountNumber}}</br>{{ abc.ifscCode }}
                            </td>
                             <td>
                                 <div class="col-md-12">
<!--                                  <div>{{abc.accountValidationStatus}}</div>-->
                             <div><button class="btn btn-round btn-primary btn-success" style="background-color: gray; width: 30px"  type="button" data-ng-disabled="abc.disableValidateButton"><i class="fa fa-print"></i></button></div>    
                                 </div>
                             
                             </td>



                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </section>
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
<!--                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>-->
                </div>

                <div class="col-md-4 center pagination-container">
<!--                    <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>-->
                </div>
                
              
            </div>
            
<!--            <div class="row paddingTop5 ">
                <div class="col-md-4 text-left ">
                 <label>Collection Date</label><input  type="date" id="txtDate" data-ng-model="collectionDate" class="form-control"  required >   
                </div>
                <div class="col-md-4 text-left ">
                    <label>Collection Time</label>
                    <span class="ui-select">
                                    <select style="width:100%" data-ng-model="collectionTime" name="selectlabelcode" required>
                                        <option ng-repeat="item in collectionTimeArr" ng-selected="{{collectionTime == item.value}}" value="{{item.value}}">{{item.description}}</option>
                                    </select>
                                </span>
                </div>
                
                 <div class="form-group col-md-4 text-left" >
                            <label >Funding Bank Account</label>
                            <div >
                                <span class="ui-select">
                                    <select style="width:100% " data-ng-model="selectBankAccount" name="selectlabelcode" data-ng-disabled="isDisabledBank" required>
                                        <option ng-repeat="item in bankAccountArr" ng-selected="{{selectBankAccount == item.value}}" value="{{item.value}}">{{item.description}}</option>
                                    </select>
                                </span>
                            </div>
                        </div>
            </div>-->
            
<!--            <div class="row paddingTop5 ">
                <div class="col-md-12 text-right paddingTop5">
                    <button  class="btn btn-success btn-w-xs color_white" ng-click="initiateDisbursemwnt(rowIndex)" data-ng-disabled='isValid' type="button"><i class="fa fa-file-text-o"></i> Initiate Disbursement </button>
                </div>
            </div>-->
            
            
        </footer>

    </section>

    
    <!-- DashBoard Table Ends-->
</div>

