<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
    <section data-ng-init="loadSearchCriteria();preloadViewGroupDashboard(fromRowNum, toRowNum)" data-ng-controller="McmGroupDashboardCtrl">
<div class="modal-content" style="width:700px;height:500px;">
    <button ng-click="cancel()" class="btn btn-danger otp_close"><i class="fa fa-times"></i></button>
<div class="modal-header ng-scope">
        <div class="row form-group">
            <form>
                
        <div class="table-responsive">
            <section class="panel panel-default table-dynamic table-responsive" style="width: 100%; height:300px; overflow: auto;"  >
                <!--<section class="panel panel-default table-dynamic table-responsive" style="width: 100%; height:300px; overflow: auto;"  data-ng-controller="McmGroupDashboardCtrl">-->

                <table class="table table-bordered table-striped scrollable" width="100%">

                    <thead>
                        <tr>
                            <th><div class="th">
                                    Add Members
                                </div></th>
                            <th><div class="th">
                                    Group Id
                                </div></th>
                            <th><div class="th">
                                    Application Id
                                </div></th>

                            <th><div class="th">
                                     Applicant  
                                </div></th>

<!--                            <th><div class="th">
                                    Co Applicant Name
                                </div></th>-->

                            <th><div class="th">
                                    Loan Amount
                                </div></th>

                            <th><div class="th">
                                     Loan Term 
                                </div></th>
                            <th><div class="th">
                                     EMI </br>Amount
                                </div></th>
                            <th><div class="th">
                                     CLI </br>Amount
                                </div></th>
                            <th><div class="th">
                                   Net Disb. Amount  
                                </div></th>

<!--                            <th><div class="th">
                                    Bank Account No
                                </div></th>

                            <th><div class="th">
                                    IFSC Code
                                </div></th>

                            <th><div class="th">
                                    Mode Of Disbursement
                                </div></th>

                            <th><div class="th">
                                    Account Validation Status
                                </div></th>-->
                            <th><div class="th">
                                    Appraisal Flag
                                </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="store in currentPageStores| filter:searchText" ng-init="sectionIndex = $index" >
                            <td>
                                <input type="checkbox" data-ng-model="store.isChecked"/>
                            </td>
                            <td><a data-ng-click="" class="">{{store.groupId}}</a></td>
                            <td><a data-ng-click="" class="">{{store.applicationId}}</a></td>
                            
                            <td>{{store.primaryApplicant}}</br>{{store.coApplicant}}</td>
<!--                            <td>{{store.coApplicant}}</td>-->
                            <td>{{store.loanAmount}}</td>
                            <td>{{store.loanTenure}}</td>
                            <td>{{store.emi}}</td>
                            <td>{{store.cliAmount ==null ?store.cliAmount :0}}</td>
                             <td>{{store.netDisbursementAmt ==null ?store.netDisbursementAmt :0}}
<!--                            <td>{{store.bankAccountNumber}}</td>
                            <td>{{store.ifscCode}}</td>
                            <td>{{store.modeOfDisbursement}}</td>
                           <td>{{store.accountValidationStatus ==null ?store.accountValidationStatus :" "}}</td>-->
                            <td>{{store.appraisalflag}}</td>
                        </tr>
                    </tbody>
                </table>
     
  <div style="top:10px; padding-top: 10px">
    <button ng-click="addMembersToGroup(); redirctPage();cancel();" class="btn btn-primary">Submit</button>
  </div>
            </section>

     
  </div>
           
  </form>
<!--    
  <div class="modal-footer ng-scope">
    <button ng-click="cancel()" class="btn btn-primary">OK</button>
  </div>  -->
</div>
</section>
</body>
</html>
