<style>
    .doc-panel-body {margin-left:25px !important;margin-top:10px !important; padding:0px !important;}
    table {border:1px soild #ccc}
</style><div class="page">
    <section class="panel panel-default table-dynamic table-responsive" style="border:1px solid #ccc; float:left; margin:10px 0px; width:100%">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Service Request</strong> 
        </div>

        <div class="panel-body" data-ng-init="preloadcrmCaseInitiation()" data-ng-controller="crmCaseInitiationController">
            <!--<strong data-ng-hide="profileId == 1 || profileId == 2"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
            <section class="panel panel-default table-dynamic table-responsive" data-ng-disabled="isDisabledPostSanction">
                <div class="sourcing col-md-12 ">
                    <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="caseInitiation" novalidate>

                        <div class="form-group">
                            <div class="col-md-12 sourcingHead">
                                <div class="col-md-4 no_padding"><b>Loan Agreement Number</b> : LAN1234</div>
                                <div class="col-md-4 no_padding"><b>Customer Name</b> : Shrikant</div>
                                <div class="col-md-4 no_padding"><b>Email</b> : shrikantkatakdhond@ltfs.com</div>            
                            </div>                            
                        </div>

                        <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success">
                            <!--                            <form class="form-horizontal ng-pristine ng-valid" autocomplete="off"
                                                              name="serviceRequest" novalidate>-->
                            <fieldset>

                                <accordion-group heading="Choose Service" is-open="true">

                                    <div class="col-md-12">
                                        <table border="0" class="table-responsive col-md-12 no_padding">

                                            <tr>
                                                <td class="col-md-4 no_padding"><label>Service Provided {{serviceProvided.serviceType}}</label></td>
                                                <td class="col-md-8 no_padding"><select class="form-control" style="width:100%" data-ng-model="serviceProvided.serviceType" ng-change="changeService()">
                                                <option ng-repeat="item in serviceProvidedArr" ng-selected="{{serviceProvided.serviceType == item.value}}" value="{{item.value}}">{{item.description}}</option>
                                                </select></td>

                                            </tr>
                                        </table>
                                    </div>
                                </accordion-group>
                                <div ng-show="isSOAService == true">
                                <accordion-group heading="SOA Request" is-open="true">
                                    <table border="0" class="table-responsive col-md-12 no_padding">

                                        <tr>
                                            <td class="col-md-4 no_padding"><label>From Date</label></td>
                                            <td class="col-md-8 no_padding">
                                                <div class="input-group ui-datepicker">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                                    <input type="date" data-ng-model="dob" 
                                                           min="{{minDate| date:'yyyy-MM-dd'}}"
                                                           max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                           class="form-control" data-ng-disabled="selectekyccustomer == 'Y'" 
                                                           ng-hide="selectekyccustomer == 'Y' || productCategory == 'FARM'" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 no_padding"><label>To Date</label></td>
                                            <td class="col-md-8 no_padding">
                                                <div class="input-group ui-datepicker">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                                    <input type="date" data-ng-model="dob" 
                                                           min="{{minDate| date:'yyyy-MM-dd'}}"
                                                           max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                           class="form-control" required>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>

                                        <tr><td>&nbsp;</td></tr>
                                    </table>
                                    <div class="col-md-12 center_btn">
                                        <button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Submit Request</button>
                                    </div>
                                </accordion-group>
                                </div>
                                <div  ng-show="isSubDisbursService == true">
                                <accordion-group heading="Subsequent Disbursal" is-open="true">
                                    <table border="0" class="table-responsive col-md-12 no_padding">

                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Application Id</label></div>
                                                            <div class="col-md-8 no_padding"><label>H12345678</label></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Loan Agreement No.</label></div>
                                                            <div class="col-md-8 no_padding"><label>H12345678</label></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Disbursal Amount</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Disbursal Date</label></div>
                                                            <div class="col-md-8 no_padding"><input type="date" data-ng-model="dob" 
                                                                                                    min="{{minDate| date:'yyyy-MM-dd'}}"
                                                                                                    max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                                                                    class="form-control" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Disbursal To</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Amount</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Credit Period</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Biz Partner Name</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>FT Mode</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>IFSC Code</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Cheque Date</label></div>
                                                            <div class="col-md-8 no_padding"><input type="date" data-ng-model="dob" 
                                                                                                    min="{{minDate| date:'yyyy-MM-dd'}}"
                                                                                                    max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                                                                    class="form-control" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Cheque No.</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Effective Date</label></div>
                                                            <div class="col-md-8 no_padding"><input type="date" data-ng-model="dob" 
                                                                                                    min="{{minDate| date:'yyyy-MM-dd'}}"
                                                                                                    max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                                                                    class="form-control" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Account No.</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Disbursement Bank</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Pre EMI   Amount</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Remarks</label></div>
                                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                                    data-ng-model="drivingLicence" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="drivingLicence" required></div>     
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-4 no_padding"><label>Repayment Date</label></div>
                                                            <div class="col-md-8 no_padding"><input type="date" data-ng-model="dob" 
                                                                                                    min="{{minDate| date:'yyyy-MM-dd'}}"
                                                                                                    max="{{getMaxDob() | date:'yyyy-MM-dd'}}"
                                                                                                    class="form-control" required></div>     
                                                        </div>
                                                    </div>
                                                </div> 
                                            </td>
                                        </tr>

                                        <tr><td>&nbsp;</td></tr>
                                    </table>
                                    <div class="col-md-12 center_btn">
                                        <button class="btn btn-primary" type="button" ><i class="fa fa-check-square-o"></i> Submit Request</button>
                                    </div>
                                </accordion-group>
                                </div>
                            </fieldset>
                    </form>
                    </accordion>

                </div>
            </section>
        </div>

    </section>
</div>