<div class="page" data-ng-init="preloadCustomerSrm()" data-ng-controller="customerSrmController">
    <strong data-ng-hide="profileId == 7"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>
    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 7">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Customer Detail</strong></div>

        <div class="panel-body">
            <div class="col-md-12 no_padding">
                <div class="col-md-8 no_padding">
                    <!--<div class="sourcing col-sm-12">-->
                    <!--<form class="form-horizontal no-margin ng-pristine ng-valid" autocomplete="off" name="customerSrm" novalidate>-->
                    <!--//------------------->
                    <table border="0" class="table-responsive col-md-12 no_padding">

                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-4 no_padding"><label><span class="error" ng-show="customerSrm.name.$error.required"></span>Name</label></div>
                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                    data-ng-model="name" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="50" name="name" required></div>     
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4 no_padding"><label><span class="error" ng-show="customerSrm.email.$error.required"></span>Email</label></div>
                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                    data-ng-model="email" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="30" name="email" required></div>     
                                        </div>
                                    </div>
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-4 no_padding"><label><span class="error" ng-show="customerSrm.ucId.$error.required"></span>UCID</label></div>
                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                    data-ng-model="ucId" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="15" name="ucId" required></div>     
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4 no_padding"><label><span class="error" ng-show="customerSrm.mobile.$error.required"></span>Mobile</label></div>
                                            <div class="col-md-8 no_padding"><input style="text-transform: uppercase;background-color: white" type="text" class="form-control"
                                                                                    data-ng-model="mobile" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="10" name="mobile" required></div>     
                                        </div>
                                    </div>
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-md-4 no_padding"><label><span class="error" ng-show="customerSrm.address.$error.required"></span>Address</label></div>
                                            <div class="col-md-8 no_padding"><textarea style="text-transform: uppercase;background-color: white" class="form-control"
                                                                                       data-ng-model="address" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" maxlength="50" name="address" required/></div>     
                                        </div>
                                    </div>
                                </div> 
                            </td>
                        </tr>


                        <tr><td>&nbsp;</td></tr>
                    </table>
                </div>
                <div class="col-md-4" style="border: #000">
                    <img src="images/assets/puzzle.png"/>
                </div>
            </div>   
            <div class="col-sm-12" >
                <!--                        <button class="btn btn-primary" style="float:left" data-ng-click="captureBiometric()" type="button">Capture Biometric</button>
                                        &nbsp;-->
                <button style="float: right" class="btn btn-primary btn-success fa fa-search" type="button" data-ng-click="validateSearch()" > Search</button>
            </div>

            <!--</form>-->

            <!--</div>-->

        </div>

        <!--</section>-->

        <!--//----------------------------Search section-->
        <div class="page page-table col-md-12 no_padding">
            <div class="col-md-12 no_padding">
            <div class="col-md-6 no_padding">
            <section class="panel panel-default table-dynamic table-responsive">
                <div class="panel-heading form-group"><strong><span class="glyphicon glyphicon-th"></span>Loan Details</strong></div>

                <!------------------------dynamic tables-->

                <div class="table-responsive">
                    <section class="panel panel-default table-dynamic table-responsive" style="width: 100%; overflow: auto;">

                        <table class="table table-bordered table-striped table-responsive" width="100%">
                            <thead>
                                <tr>
                                    <th><div class="th"><div class="th">
                                                Select
                                            </div></th>

                                    <th><div class="th">
                                            Create Case
                                        </div></th>

                                    <th><div class="th">
                                            LAN
                                        </div></th>

                                    <th><div class="th">
                                            Name
                                        </div></th>

                                    <th><div class="th">
                                            Product
                                        </div></th>
                                    <th><div class="th">
                                            Loan Type
                                        </div></th>
                                    <th><div class="th">
                                            Loan Amount
                                        </div></th>

                                    <th><div class="th">
                                            UCID
                                        </div></th>

                                    <th><div class="th">
                                            Mobile No.
                                        </div></th>

                                    <th><div class="th">
                                            Address
                                        </div></th>

                                    <th><div class="th">
                                            Email
                                        </div></th>

                                    <th><div class="th">
                                            On Boarding Date
                                        </div></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse" ng-init="sectionIndex = $index" >
                                    <td><input type="checkbox" class="checkbox" ng-model="selctRow"></td>
                                    <td><button style="width: 20px;height: 20px;text-align: center;padding: 2px 0;font-size: 10px;line-height: 1.428571429;border-radius: 15px;" class="btn btn-success btn-round color-reverse" type="button" data-ng-click="showCase()"><i class="fa fa-plus " tooltip="Create Case" tooltip-append-to-body="true"></i></button></td>
                                    <td><a data-ng-click="" class="active_link">{{store.lan}}</td>
                                    <td><a data-ng-click="" class="active_link">{{store.name}}</td>
                                    <td>{{store.product}}</td>
                                    <td>{{store.loanType}}</td>
                                    <td>{{store.loanAmount}}</td>
                                    <td>{{store.ucId}}</td>
                                    <td>{{store.mobileNo}}</td>
                                    <td>{{store.address}}</td>
                                    <td>{{store.email}}</td>
                                    <td>{{store.onBoardingDate| date :'dd-MM-yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

                <!--end-->
                <!-- <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show 
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select> 
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm" 
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="0"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer> -->

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-4 page-num-info">
                            <span>
                                Show 
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select> 
                                entries per page
                            </span>
                        </div>

                        <div class="col-md-4 center pagination-container">
                            <pagination total-items="totalItems" 
                                        on-select-page="select(page,numPerPage,search)"
                                        page="currentPage"
                                        search="search"
                                        max-size="maxSize" 
                                        class="pagination-sm" 
                                        boundary-links="true"
                                        num-pages="numPages"
                                        items-per-page="itemsPerPage">
                            </pagination>
                        </div>
                        <div class="col-md-4 text-right">
                            <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                            <input type="text"
                                   placeholder=""
                                   class="form-control align_right"
                                   data-ng-model="searchPages"
                                   data-ng-keyup="" style="width:30%; float:right">

                        </div>
                    </div>
                </footer>

            </section>
</div>
                <div class="col-md-6 no_padding">
                    <section class="panel panel-default table-dynamic table-responsive">
                <div class="panel-heading form-group"><strong><span class="glyphicon glyphicon-th"></span>Service Details</strong></div>
                </section>
                </div>
            </div>
            <!-- DashBoard Table Ends-->
        </div>
    </section>
</div>