<div class="page page-table" data-ng-init="loadSearchCriteria();preloadRMDashboard(fromRowNum, toRowNum)" data-ng-controller="rmDashboardCtrl">

    <!-- DashBoard Table Starts-->
<!--    <strong data-ng-hide="profileId == 1 || profileId == 2 || profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>-->
    <section class="panel panel-default table-dynamic table-responsive" data-ng-show="profileId == 5">

        <div class="panel-heading" style="height:40px;">
            <div class="col-sm-12 col-xs-12 no_padding">
                <div class="col-sm-6 col-xs-6 no_padding" style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;">
                    <strong><span class="glyphicon glyphicon-th"></span>Dashboard</strong>
                </div>
                <div class="col-sm-6 col-xs-6 no_padding"><span class="align_right" style="float:right;"><button style="margin-top:-5px; padding:5px" class="btn btn-success btn-w-xs color_white" ng-click="newAppForm()" type="button"><i class="fa fa-file-text-o"></i> New Form </button></span></div>
            </div>
        </div>

        <div class="row">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.criteria}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="tel" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadDashboard(fromRowNum, toRowNum)">
                        <!--<input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >-->	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate()">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
<!--                            <span>-->
                                <!--                        Total {{totalItems}} Record(s) Found-->
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            <!--</span>-->              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-striped table-responsive" width="100%">
            <thead>
                <tr>
                    <th><div class="th">
                            Application Id
                            <span class="glyphicon glyphicon-chevron-up"
                                  ng-click="sortType = 'applicationId'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == 'applicationId'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  ng-click="sortType = 'applicationId'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == '-applicationId'}"></span>
                        </div></th>
<!--                    <th><div class="th">
                            Application Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == 'customerName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  ng-click="sortType = 'customerName'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == '-customerName'}"></span>
                        </div></th>-->
                    <th><div class="th">
                            Creation Date 
                            <span class="glyphicon glyphicon-chevron-up"
                                  ng-click="sortType = 'creDate'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == 'creDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  ng-click="sortType = 'creDate'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == '-creDate'}"></span>
                        </div></th>
                        <th><div class="th">
                            Status 
                            <span class="glyphicon glyphicon-chevron-up"
                                  ng-click="sortType = 'status'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == 'status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  ng-click="sortType = 'status'; sortReverse = !sortReverse"
                                  data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                             </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse">
                    <td><a data-ng-click="showform(store.applicationId, store.progress, store.status)" class="active_link">{{store.applicationId}}</a></td>
                    <td>{{store.creDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{store.status}}</td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>

                <div class="col-md-6 center pagination-container">
                    <!--                    <pagination class="pagination-sm" 
                                                    page="currentPage"
                                                    total-items="filteredStores.length"
                                                    max-size="0"
                                                    on-select-page="select(page)"
                                                    items-per-page="numPerPage"
                                                    rotate="false"
                                                    boundary-links="true"></pagination>-->

                    <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search)"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
                <!--                <div class="col-md-4 text-right">
                                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages)">GO</button>
                                        <input type="text"
                                               placeholder=""
                                               class="form-control align_right"
                                               data-ng-model="searchPages"
                                               data-ng-keyup="" style="width:30%; float:right">
                                     
                                </div>-->
                <!--                <div class="col-md-4 center">
                                   
                                        <pre>Page: {{currentPage}} / {{numPages}}</pre>
                                                 
                                </div>-->
            </div>

        </footer>
    </section>

    <!-- DashBoard Table Ends-->
</div>
