<div class="page">
    <!--    <strong data-ng-show="profileId ==  || profileId == 4"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>-->
    <section class="panel panel-default" data-ng-show="profileId == 5">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Form </strong> <span style="float:right; text-transform:capitalize"><b class="red" >*</b> Mandatory Fields</span> </div>
        <div class="panel-body">
            <div class="reference_details col-md-12"  id="form_post_sanstion_reference_details" data-ng-init="preloadRMDetails()" data-ng-controller="RMDetailsCtrl">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" data-ng-submit="" name="submitAddress" novalidate>
                    <fieldset ng-disabled="isDisabledPreSanction"> 
                       
<!--                        <div class="form-group">
                                <label class="col-sm-4"><span class="error" ng-show="submitAddress.lanNumber.$error.required"> * </span> LAN</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-ng-model="lanNumber" name="lanNumber" required>
                                </div>
                            </div>-->
 <div class="form-group">
                                <label class="col-sm-4"><span class="error" ng-show="submitAddress.lanNumber.$error.required"> * </span> Customer Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-ng-model="customerName" name="customerName" required>
                                </div>
                            </div>
<div class="form-group">
                                <label class="col-sm-4"><span class="error" ng-show="submitAddress.lanNumber.$error.required"> * </span>PAN Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-ng-model="pan" name="pan" required>
                                </div>
                            </div>
                        
                        <div data-ng-repeat="rm in rmDetailArr" class="post_bank_arr bank_arr">
                            <h1 class="heading_array">Authorize Signatory Detail - {{$index + 1}}</h1>
                            <div class="form-group">
                                <div class="col-sm-12 align_right" data-ng-hide="$index == 0">
                                    <button class="btn btn-primary btn-line-danger" data-ng-click="deletRMDetails($index)" type="button"><i class="fa fa-trash-o"></i> Delete</button> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><span class="error" ng-show="submitAddress.referenceName.$error.required"> * </span> Signatory Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-ng-model="rm.applicantName" name="referenceName" required>
                                </div>
                            </div>
<!--                            <div class="form-group">
                                <label class="col-sm-4" for="label-focus"><span class="error" ng-show="submitAddress.postSanctionAddressLine1.$error.required"> * </span>PAN Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="40" data-ng-model="rm.pan" name="pan" required>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-4" for="label-focus"><span class="error" ng-show="submitAddress.postSanctionAddressLine1.$error.required"> * </span>E-mail</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="40" data-ng-model="rm.emailId" name="postSanctionAddressLine1" required>
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 align_left">
                                <button class="btn btn-primary btn-line-primary" data-ng-click="addRMDetails()" type="button"><i class="fa fa-plus"></i> Authorize Signatory</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-6 saveBtn">
                                    &nbsp;
                                </div>
                                <div class="col-sm-6 align_right no_padding">
                                    <button class="btn btn-line-primary" type="button" ng-click="validateRMDetailsForm('Save')"><i class="fa"></i>Save </button>
                                    &nbsp;
                                    <button class="btn btn-line-warning" type="button" ng-click="validateRMDetailsForm('Submit')"><i class="fa"></i>Submit & Send Email</button>
                                    &nbsp;
                                    <button class="btn btn-primary btn-line-danger" type="button" ng-click="back()"><i class="fa"></i> Back </button>
                                    <!--                                            &nbsp;	
                                                                                <button class="btn btn-primary btn-info" data-ng-click="formReload()" type="reset"><i class="fa fa-times"></i> Clear</button>-->
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section> 

</div>