<div class="page-forgot" data-ng-controller="rmVerifyAddhar">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <!--<a href="#/">{{main.brand}}</a>-->
                <a href="#/"><img src="images/assets/L&T_Financial-logo_1.png" /></a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Aadhar Verification Success</h2>
    </div>

    <div class="form-container">

        <h2 style="text-align: center; color: green; padding-top: 15px"><i class='fa fa-check-square-o faa-pulse animated fa-4x fa-fw'></i></h2>
<!--        <form class="form-horizontal" name="forgotPasswordForm">
            <div class="form-group">
              <div class="input-group input-group-lg">
                  
                  
                <i class="fa fa-spinner" aria-hidden="true"></i>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>

                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>

                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>

                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>

                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                
                <i class='fa fa-envelope faa-burst animated fa-4x'></i>

              </div>
           </div>
        </form>-->
        
    </div>
</div>