<div class="page-forgot" data-ng-controller="rmVerifyAddhar">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <!--<a href="#/">{{main.brand}}</a>-->
                <a href="#/"><img src="images/assets/L&T_Financial-logo_1.png" /></a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Aadhar Verification</h2>
        <p class="text-small">Enter your OTP and submit in order to proceed for KYC.</p>
    </div>

    <div class="form-container">

        <form class="form-horizontal" name="forgotPasswordForm">
            <div class="form-group">
                <div class="input-group input-group-lg">
                <span class="input-group-addon"> 
                    <span class="glyphicon glyphicon-user"></span>
                     </span><input type="text"
                       class="form-control input-lg"
                       required AUTOCOMPLETE = "off"
                       ng-model="otp"
                       placeholder="Enter OTP">
            </div>
                </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" ng-click="verifyUIDOtp()">Submit</button>
            </div>
        </form>
        
    </div>
</div>