<div class="page page-table" data-ng-init="preloadOpsPortalDashboard(fromRowNum, toRowNum, 'Y')" data-ng-controller="opsPortalDashboardCtrl">

    <!-- DashBoard Table Starts-->
     <!--<strong data-ng-hide="profileId == 1 || profileId == 2 || profileId == 8"><span class="glyphicon glyphicon-eye-close"></span> You are not authorized to view this page</strong>-->
    <section class="panel panel-default table-dynamic table-responsive">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Pending Dashboard</strong></div>

                <div class="row">
            <form>
                <div class="col-md-6 filter-result-info" >
                    <div class="col-md-7 form-group">
                        <span class="ui-select">
                            <select style="width:100%" ng-required="true" data-ng-model="selectApp"  data-ng-change="criteriachange()" name="selectApp" required >
                                <option ng-repeat="item in selectAppArr" ng-selected="{{selectApp == item.id}}" value="{{item.id}}">{{item.criteria}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-7 form-group">	
                        <input type="text" data-ng-show="selectApp == 'Select Condition'" placeholder="Select Condition" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="clearApplications(numPerPage)" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="text" data-ng-hide="selectApp == 'Select Condition' || selectApp == 'sanction_date'" placeholder="Enter {{selectApp}}" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" ng-keyup="(digiAppId.length <= 0) && preloadPostSanctionDashboard(fromRowNum, toRowNum)">
                        <input type="date" data-ng-show="selectApp == 'sanction_date'" class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >
                        <!--<input type="text"   placeholder="Enter " class="form-control col-md-6" data-ng-model="digiAppId" data-ng-change="" >-->	
                    </div>
                    <div class="col-md-5 form-group center">	
                        <button class="col-md-6 btn btn-success" data-ng-click="doValidate(fromRowNum, toRowNum, 'Y')">Search</button>	
                    </div>
                </div>

                <div class="col-md-6 filter-result-info">
                    <div class="row">
                        <div class="col-md-6 form-group">
                                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group center">
<!--                            <span>-->
                                <!--                        Total {{totalItems}} Record(s) Found-->
                                Showing {{showingRecordsCount}} of {{totalItems}} Record(s)
                            <!--</span>-->              
                        </div>
                        <div class="col-md-5 form-group">
                            <pre>Page: {{currentPage}} / {{numPages}}</pre>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered table-striped table-responsive" width="100%">

            <thead>
                <tr>
                    <th><div class="th">
                        Application Id
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicationId'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicationId'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicationId'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicationId'}"></span>
                    </div></th>
                    <th><div class="th">
                        Applicant Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'applicantName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'applicantName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'applicantName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-applicantName'}"></span>
                    </div></th>
                    <th><div class="th">
                        FLS name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'flsName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'flsName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'flsName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-flsName'}"></span>
                    </div></th>
                    <th><div class="th">
                        Branch Name
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'branchName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'branchName'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'branchName'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-branchName'}"></span>
                    </div></th>
                    <th><div class="th">
                        Sanction Date
                        <span class="glyphicon glyphicon-chevron-up"
                              ng-click="sortType = 'sanctionDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == 'sanctionDate'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              ng-click="sortType = 'sanctionDate'; sortReverse = !sortReverse"
                              data-ng-class="{active: row == '-sanctionDate'}"></span>
                    </div></th>
                    <th><div class="th">
                        Status
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                    <th><div class="th">
                        Assigned To
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('status') "
                              data-ng-class="{active: row == 'status'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-status') "
                              data-ng-class="{active: row == '-status'}"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="store in currentPageStores| orderBy:sortType:sortReverse">
                    <td><a data-ng-click="showform(store.refid, 'Y')" class="active_link">{{store.applicationId}}</a></td>
                    <td>{{store.applicantName}}</td>
                    <td>{{store.flsName}}</td>
                    <td>{{store.branchName}}</td>
                    <!--<td>{{store.amount}}</td>-->
                    <td>{{store.sanctionDate|date}}</td>
                    <td>{{store.status}}</td>
                    <td>{{store.lockByName}}</td>
                </tr>
            </tbody>
        </table>
            
        <!-- <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm" 
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="0"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer> -->
        
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-4 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange('Y')">
                        </select> 
                        entries per page
                    </span>
                </div>
                
                <div class="col-md-8 center pagination-container">
                      <pagination total-items="totalItems" 
                                on-select-page="select(page,numPerPage,search,'Y')"
                                page="currentPage"
                                search="search"
                                max-size="maxSize" 
                                class="pagination-sm" 
                                boundary-links="true"
                                num-pages="numPages"
                                items-per-page="itemsPerPage">
                    </pagination>
                </div>
<!--                <div class="col-md-4 text-right">
                <button style="padding:7px; margin-LEFT:3px; float:right" ng-click="select(searchPages,null,null,'Y')">GO</button>
                	<input type="text"
                               placeholder=""
                               class="form-control align_right"
                               data-ng-model="searchPages"
                               data-ng-keyup="" style="width:30%; float:right">
                     
                </div>-->
            </div>
        </footer>
    </section>
    
    <!-- DashBoard Table Ends-->
 </div>
  