<div class="page">
    <strong data-ng-hide="profileId == 3"><span class="glyphicon glyphicon-eye-close"></span> Your are not authorized to view this page</strong>
    <section class="panel panel-default" data-ng-show="profileId == 3">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Application Detail</strong><span style="float:right; text-transform:capitalize"><b class="red" >*</b> Mandatory Fields</span>  </div>
        <div class="panel-body">
            <div class="sourcing col-md-12 " id="form_sourcing" data-ng-init="preloadOpsDetails()" data-ng-controller="OpsPortalDetailCtrl">
                <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" name="sourcingValid" novalidate>
                    <fieldset data-ng-disabled="isDisabledPostSanction">
                    <div class="form-group">
                        <div class="col-sm-12 sourcingHead">
                                <div class="col-sm-12">
                                    <div class="col-sm-6 no_padding"><b>Application ID</b> : {{appDetail.applicationId}}</div>
                                    
                                    <div class="col-sm-6 no_padding"><b>Sanction Date</b> : {{appDetail.sanctionDate|date : "dd-MM-yyyy"}}</div>
                                </div>
                                <div class="col-sm-12">
                                    <!--<div class="col-sm-6 no_padding"><b>Product Type</b> : {{appDetail.productType}}</div>-->
                                    <div class="col-sm-6 no_padding"><b>FLS Name</b> : {{appDetail.flsname}}</div>
                                    
                                    <div class="col-sm-6 no_padding"><b>Branch Name</b> : {{appDetail.branchName}}</div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6 no_padding"><b>Ops Status</b> : {{appDetail.status}}</div>
                                    
                                    <div class="col-sm-6 no_padding"></div>
                                </div>
                        </div>
                    </div>
                    <div class="form-group scrollable"> 
                        <div class="panel-heading" style="background-color: #ccc"><strong>Summary</strong> </div>
                        <div class="col-md-12 sourcingHead" style="background-color: white">
                            <div class="col-md-12">
                            <table border="1" class="table-responsive col-md-12 no_padding table-striped">
                                <tr>
                                   <td class="col-md-3 no_padding">Document Name</td>
                                   <td class="col-md-3 no_padding">Ops Action</td>
                                   <td class="col-md-6 no_padding">Reason</td> 
                                </tr>
                                <tr data-ng-repeat="doc in docs">
                                    <td class="col-md-3 no_padding"><label>{{doc.docCategoryName.toUpperCase()}}</label></td>
                                    <td class="col-md-3 no_padding"><label>{{doc.opsAction}}</label></td>
                                    <!--<td class="col-md-6 no_padding"><label>{{doc.reason}}</label></td>-->
                                    <td>
                                        <table data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC'" border="0" class="table-responsive col-md-12 no_padding table-striped">
                                            <tr data-ng-show="doc.q20 == 'NO'">
                                                <td>
                                                    Applicant Name field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q21 == 'NO'">
                                                <td>
                                                    Bank Name field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q22 == 'NO'">
                                                <td>
                                                    Bank A/C Number field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q23 == 'NO'">
                                                <td>
                                                    IFSC Code field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q1 == 'NO'">
                                                <td>
                                                    Cheque Date should be blank 
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q2 == 'NO'">
                                                <td>
                                                    Payee Name
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q3 == 'NO'">
                                                <td>
                                                    Amount word & Figure should be blank 
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q4 == 'NO'">
                                                <td>
                                                    Customer Signature should be present
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q5 == 'NO'">
                                                <td>
                                                    No alteration on Cheque
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q6 == 'NO'">
                                                <td>
                                                    Only CTS Cheuqes should be used
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q7 == 'NO'">
                                                <td>
                                                    A/c Payee ( Cross on face of the cheque)
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q8 == 'NO'">
                                                <td>
                                                    Signature should not be on MICR band
                                                </td>
                                            </tr>
<!--                                            <tr data-ng-show="doc.q9 == 'NO'">
                                                <td>
                                                    Counter signature is present if alternation only on cheque date
                                                </td>
                                            </tr>-->
                                        </table>
                                        
                                        <table data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'" border="0" class="table-responsive col-md-12 no_padding table-striped">
                                            <tr data-ng-show="doc.q20 == 'NO'">
                                                <td>
                                                    Bank A/C Number field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q21 == 'NO'">
                                                <td>
                                                    Bank Name field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q22 == 'NO'">
                                                <td>
                                                    Application Number field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q23 == 'NO'">
                                                <td>
                                                    EMI field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q24 == 'NO'">
                                                <td>
                                                    Installment Date field mismatch
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q1 == 'NO'">
                                                <td>
                                                    Application Number
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q2 == 'NO'">
                                                <td>
                                                    Date (Top Right side corner)
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q3 == 'NO'">
                                                <td>
                                                    Debit Tick i.e. Saving/Current
                                                </td>
                                            </tr>
<!--                                            <tr data-ng-show="doc.q4 == 'NO'">
                                                <td>
                                                    Customer's Bank Name
                                                </td>
                                            </tr>-->
<!--                                            <tr data-ng-show="doc.q5 == 'NO'">
                                                <td>
                                                    Customer's Account No 
                                                </td>
                                            </tr>-->
                                            <tr data-ng-show="doc.q6 == 'NO'">
                                                <td>
                                                    IFSC Code correctly captured as per live bank list
                                                </td>
                                            </tr>
<!--                                            <tr data-ng-show="doc.q7 == 'NO'">
                                                <td>
                                                    EMI Amount Word and figure correctly captured
                                                </td>
                                            </tr>-->
                                            <tr data-ng-show="doc.q8 == 'NO'">
                                                <td>
                                                    Customer Signature is present
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q9 == 'NO'">
                                                <td>
                                                    Customer Name is same as applicant name in application
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q10 == 'NO'">
                                                <td>
                                                    Frequency - Pre-printed as Monthly
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q11 == 'NO'">
                                                <td>
                                                    Debit Type - Pre-Printed as Maximum Amount
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q12 == 'NO'">
                                                <td>
                                                    Start Date
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q13 == 'NO'">
                                                <td>
                                                    End date - Need to keep Blank
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q14 == 'NO'">
                                                <td>
                                                    Until cancelled tick 
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q15 == 'NO'">
                                                <td>
                                                    Tick (Create/Modify/Cancel)
                                                </td>
                                            </tr>
                                            <tr data-ng-show="doc.q16 == 'NO'">
                                                <td>
                                                    No Alteration or overwriting or whitener use
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            </div>
                            <div class="col-md-12">
                                <div style="position: relative; top:20px;" class="form-group">
                                <div style="position: relative; float: left;" class="col-sm-5 no_padding">
                                    <button class="btn btn-primary btn-success btn-round" data-ng-click="submitOpsDetails(false)" type="button" ><i class="fa fa-floppy-o"></i> Save </button>
                                </div>
                                <div style="position: relative; float: right;" class="col-sm-2 align_right no_padding" >
                                    <button class="btn btn-primary btn-success btn-round" data-ng-click="submitOpsDetails(true)" type="button" ><i class="fa fa-check"></i> Submit </button>
                                </div>
                            </div>
                            </div>
                                
                        </div>
                        <div class="col-md-12">&nbsp;</div>
<!--                        <div class="col-md-12">
                            <div style="position: relative; top:20px;" class="form-group">
                                <div style="position: relative; float: left;" class="col-sm-5 no_padding">
                                    <button class="btn btn-primary btn-success btn-round" data-ng-click="submitOpsDetails(false)" type="button" ><i class="fa fa-check"></i> Save </button>
                                </div>
                                <div style="position: relative; float: right;" class="col-sm-2 align_right no_padding" >
                                    <button class="btn btn-primary btn-success btn-round" data-ng-click="submitOpsDetails(true)" type="button" ><i class="fa fa-check"></i> Submit </button>
                                </div>
                            </div>
                        </div>-->
                        <accordion close-others="oneAtATime" class="ui-accordion ui-accordion-success table-responsive table-dynamic">
                                    <div>&nbsp;</div>
                                    <div data-ng-repeat="doc in docs">
                                    <accordion-group class="table-responsive table-dynamic"  heading="{{doc.docCategoryName}}" is-open="true">
                                        <div class="table-responsive table-dynamic col-md-12 no-margin no_padding">
                                            <div class="col-md-6 no-margin no_padding">
                                            <fieldset data-ng-disabled="doc.losDocStatus.toUpperCase() == 'APPROVE'">
                                            <table class="table-responsive no_padding table-striped" width="100%">
                                                <col width="30%">
                                                <col width="64%">
                                                <col width="3%">
                                                <col width="3%">
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() === 'PDC' || doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td colspan="2"><b><i class="fa fa-check"></i>LOS Field Checklist</b></td>
                                                    <!--<td>&nbsp;</td>-->
                                                    <!--<td>&nbsp;</td>-->
                                                    <td colspan="1"><b>Yes</b></td>
                                                    <td><b>No</b></td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() === 'PDC'">
                                                    <td colspan="1" class="col-sm-3 no_padding"><label>Applicant Name</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.financialAppName}}</td>
                                                    <td style="align-content: center">
                                                        <input type="radio" data-ng-model="doc.q20" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcLosQ20{{$index}}" />  
                                                    </td>
                                                    <td>
                                                        <input type="radio" data-ng-model="doc.q20" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcLosQ20{{$index}}" /> 
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC'">
                                                    <td class="col-sm-3 no_padding"><label>Bank Name</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.pdcbankname}}</td>
                                                    <td style="align-content: center">
                                                        <input type="radio" data-ng-model="doc.q21" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcLosQ21{{$index}}" />  
                                                    </td>
                                                    <td>
                                                        <input type="radio" data-ng-model="doc.q21" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcLosQ21{{$index}}" /> 
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC'">
                                                    <td class="col-sm-3 no_padding"><label>Bank A/C Number</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.pdcbankACnumber}}</td>
                                                    <td style="align-content: center">
                                                        <input type="radio" data-ng-model="doc.q22" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcLosQ22{{$index}}" />  
                                                    </td>
                                                    <td>
                                                        <input type="radio" data-ng-model="doc.q22" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcLosQ22{{$index}}" /> 
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() === 'PDC'">
                                                    <td colspan="1" class="col-sm-3 no_padding"><label>IFSC Code</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.pdcifsccode}}</td>
                                                    <td style="align-content: center">
                                                        <input type="radio" data-ng-model="doc.q23" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcLosQ23{{$index}}" />  
                                                    </td>
                                                    <td>
                                                        <input type="radio" data-ng-model="doc.q23" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcLosQ23{{$index}}" /> 
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC' && appDetail.docRemark">
                                                    <td class="col-sm-3 no_padding"><label>Remark</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.docRemark}}</td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC' && doc.losDocStatus">
                                                    <td class="col-sm-3 no_padding"><label>LOS Doc Status</label></td>
                                                    <td class="col-sm-3 no_padding">: {{doc.losDocStatus}}</td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC'">
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PDC'">
                                                    <td colspan="4">
                                                        <table border="0" class="table-responsive col-md-12 no_padding table-striped">
                                                            
                                                            <col width="90%">
                                                            <col width="5%">
                                                            <col width="5%">
                                                            <tr>
                                                                <th>
                                                                    <b><i class="fa fa-check"></i> Document Check List</b>
                                                                </th>
                                                                <th style="align-content: center">Yes</th><th style="align-content: center">No
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Cheque Date should be blank 
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q1" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ1{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q1" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ1{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Payee Name
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q2" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ2{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q2" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ2{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Amount word & Figure should be blank
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q3" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ3{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q3" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ3{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Customer Signature should be present
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q4" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ4{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q4" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ4{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    No alteration on Cheque
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q5" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ5{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q5" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ5{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Only CTS Cheuqes should be used
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q6" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ6{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q6" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ6{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    A/c Payee ( Cross on face of the cheque)
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q7" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ7{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q7" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ7{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Signature should not be on MICR band
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q8" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ8{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q8" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ8{{$index}}" /> 
                                                                </td>
                                                            </tr>
<!--                                                            <tr>
                                                                <td>
                                                                    Counter signature is present if alternation only on cheque date
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q9" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pdcQ9{{$index}}" />  </td><td>
                                                                    <input type="radio" data-ng-model="doc.q9" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pdcQ9{{$index}}" /> 
                                                                </td>
                                                            </tr>-->
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td class="col-sm-3 no_padding"><label>Bank A/C Number</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.physicalMandateBankACnumber}}</td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q23" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmLosQ23{{$index}}" /> 
                                                                </td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q23" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmLosQ23{{$index}}" /> 
                                                                </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td class="col-sm-3 no_padding"><label>Bank Name</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.physicalMandateBankname}}</td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q22" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmLosQ22{{$index}}" /> 
                                                                </td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q22" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmLosQ22{{$index}}" /> 
                                                                </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td class="col-sm-3 no_padding"><label>Application No.</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.physicalMandateApplicationNumber}}</td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q21" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmLosQ21{{$index}}" /> 
                                                                </td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q21" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmLosQ21{{$index}}" /> 
                                                                </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td colspan="1" class="col-sm-3 no_padding"><label>EMI</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.physicalMandateEMI}}</td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q20" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmLosQ20{{$index}}" /> 
                                                                </td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q20" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmLosQ20{{$index}}" /> 
                                                                </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td class="col-sm-3 no_padding"><label>Installment Date</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.installmentDate|date : "dd-MM-yyyy"}}</td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q24" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmLosQ24{{$index}}" /> 
                                                                </td>
                                                                <td style="align-content: center">
                                                                    <input type="radio" data-ng-model="doc.q24" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmLosQ24{{$index}}" /> 
                                                                </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE' && appDetail.docRemark">
                                                    <td class="col-sm-3 no_padding"><label>Remark</label></td>
                                                    <td class="col-sm-3 no_padding">: {{appDetail.docRemark}}</td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE' && doc.losDocStatus">
                                                    <td class="col-sm-3 no_padding"><label>LOS Doc Status</label></td>
                                                    <td class="col-sm-3 no_padding">: {{doc.losDocStatus}}</td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                    <td style="align-content: center">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr data-ng-show="doc.docCategoryName.toUpperCase() == 'PHYSICAL MANDATE'">
                                                    <td colspan="4">
                                                        <table border="0" class="table-responsive col-md-12 no_padding table-striped">
                                                            <col width="90%">
                                                            <col width="5%">
                                                            <col width="5%">
                                                            <tr>
                                                                <th>
                                                                    <b><i class="fa fa-check"></i> Document Check List</b>
                                                                </th>
                                                                <th style="align-content: center">Yes</th><th style="align-content: center">No
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Application Number
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q1" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ1{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q1" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ1{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Date (Top Right side corner)
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q2" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ2{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q2" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ2{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Debit Tick i.e. Saving/Current
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q3" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ3{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q3" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ3{{$index}}" /> 
                                                                </td>
                                                            </tr>
<!--                                                            <tr>
                                                                <td>
                                                                    Customer's Bank Name
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q4" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ4{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q4" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ4{{$index}}" /> 
                                                                </td>
                                                            </tr>-->
<!--                                                            <tr>
                                                                <td>
                                                                    Customer's Account No 
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q5" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ5{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q5" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ5{{$index}}" /> 
                                                                </td>
                                                            </tr>-->
                                                            <tr>
                                                                <td>
                                                                    IFSC Code correctly captured as per live bank list
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q6" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ6{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q6" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ6{{$index}}" /> 
                                                                </td>
                                                            </tr>
<!--                                                            <tr>
                                                                <td>
                                                                    EMI Amount Word and figure correctly captured
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q7" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ7{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q7" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ7{{$index}}" /> 
                                                                </td>
                                                            </tr>-->
                                                            <tr>
                                                                <td>
                                                                    Customer Signature is present
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q8" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ8{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q8" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ8{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Customer Name is same as applicant name in application
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q9" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ9{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q9" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ9{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Frequency - Pre-printed as Monthly
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q10" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ10{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q10" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ10{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Debit Type - Pre-Printed as Maximum Amount
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q11" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ11{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q11" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ11{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Start Date
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q12" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ12{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q12" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ12{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    End date - Need to keep Blank
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q13" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ13{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q13" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ13{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Until cancelled tick 
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q14" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ14{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q14" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ14{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Tick (Create/Modify/Cancel)
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q15" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ15{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q15" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ15{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    No Alteration or overwriting or whitener use
                                                                </td>
                                                                <td style="align-content: center"><input type="radio" data-ng-model="doc.q16" value="YES" data-ng-click="checkAction('YES', 'approveAction'+$index)" name="pmQ16{{$index}}" /> </td><td style="align-content: center"><input type="radio" data-ng-model="doc.q16" value="NO" data-ng-click="checkAction('NO', 'approveAction'+$index)" name="pmQ16{{$index}}" /> 
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                    <td class="col-sm-3 no_padding">&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-3 no_padding"><label>Action</label></td>
                                                    <td colspan="3" class="col-sm-3 no_padding">
                                                        <input type="radio" data-ng-model="doc.opsAction" data-ng-bind="checkAproveByBind($index, 'approveAction'+$index)" data-ng-disabled="doc.disableApprove == true" value="Approve" id="approveAction{{$index}}" name="Action{{$index}}" /> Approve &nbsp;
                                                        <input type="radio" data-ng-model="doc.opsAction" data-ng-disabled="doc.disableReject == true" value="Reject" id="rejectAction{{$index}}" name="Action{{$index}}" /> Reject &nbsp;
                                                        <input type="radio" data-ng-model="doc.opsAction" data-ng-disabled="doc.disableSalesQ == true" value="FLS Queue" id="queueAction{{$index}}" name="Action{{$index}}" /> Sales Queue
                                                    </td>
                                                </tr>
<!--                                                <tr>
                                                    <td colspan="2" class="col-md-7 no_padding">
                                                        <a class="btn btn-primary btn-success" href="{{urlDomain}}/rcuTriggerDocDownload.json?uuid={{doc.docRef}}&amp;applicationId={{appDetail.applicationId}}" target="_blank"><i class="fa  fa-download"></i> Download Document</a>
                                                    </td>
                                                </tr>-->

                                            </table>
                                            </fieldset>
                                            </div>
                                            <div class="col-md-6 no_padding no-margin ">
<!--                                                            <div class="tiles">
                                                                <div class="tile" data-scale="2.4" data-image="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAgCAYAAACVU7GwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAACjSURBVFhH7ZZBDoAgDATBx/hN4zf9DGpCoweV3UK0mM4FDraMLEFjmsYUjDHk0RQuhWJSquqgx3nJs4OtX57poaWuRO7QClLxMUI77PMCLKVdQFMHSWmFBLa+KFUrJDB9TF4J/Um1ik5A+3l8KC6F8ijV4uN6Bu3n8aEUpVpFyPSBdqpWjK2H49OKaeqoM8UuoH2Rf/yjv0GfV8IXuBSKQakQVr8ZNGs0NUPYAAAAAElFTkSuQmCC">

                                                                </div>
                                                                <script>
        $('.tile')
    // tile mouse actions
    .on('mouseover', function(){
      $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
    })
    .on('mouseout', function(){
      $(this).children('.photo').css({'transform': 'scale(1)'});
    })
    .on('mousemove', function(e){
      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
    })
    // tiles set up
    .each(function(){
      $(this)
        // add a photo container
        .append('<div class="photo"></div>')
        // some text just to show zoom level on current item in this example
//        .append('<div class="txt"><div class="x">'+ $(this).attr('data-scale') +'x</div>ZOOM ON<br>HOVER</div>')
        // set up a background image for each tile based on data-image attribute
        .children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
    });

    </script>
                                                            </div>-->
                                                <table border="0" style="width: 400px">
                                                    <tr>
                                                        <td class="table-responsive table-dynamic" colspan="3">
                                                            <!--<object data-ng-show="doc.fileStream && doc.mimeType" width="450" height="400" id="tester" draggable="true" data="{{'data:'+doc.mimeType+';base64,'+doc.fileStream}}" type="{{doc.mimeType}}"></object>-->
                                                            <!--<image  />-->
                                                            <div class="panel panel-default table-responsive table-dynamic">
                                                                <table class="table table-bordered table-striped" width="400px">
                                                                    <tr>
                                                                        <td width="350px" height="400px">
                                                                            <div class="tiles">
                                                                                <div class="tile" data-scale="2.4" id="tile{{$index}}" data-image="{{'data:'+doc.mimeType+';base64,'+doc.fileStream}}">
                                                                                    <a class="photo" href="{{urlDomain}}/rcuTriggerDocDownload.json?uuid={{doc.docRef}}&amp;applicationId={{appDetail.applicationId}}" target="_blank">
                                                                                        <img width="400" style="padding: 5px;" id="docImg{{$index}}" src="{{'data:'+doc.mimeType+';base64,'+doc.fileStream}}">
                                                                                    </a>
                                                                                </div>
                                                                                <script>
                                                                                    $('.tile')
                                                                                    .on('mouseover', function(){
                                                                                      $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
                                                                                    })
                                                                                    .on('mouseout', function(){
                                                                                      $(this).children('.photo').css({'transform': 'scale(1)'});
                                                                                    })
                                                                                    .on('mousemove', function(e){
                                                                                      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
                                                                                    })

                                                                                </script>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <!--<img width="450" height="400" src="{{'data:'+doc.mimeType+';base64,'+doc.fileStream}}">-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="align_left">
                                                            <!--<button class="btn btn-primary btn-success btn-round" data-ng-click="imageZoomIn('docImg'+$index)"><i class="fa fa-plus"></i></button>-->
                                                            <a style="padding:10px 12px;font-size:12px;border-radius:25px; background-color:#60cd9b;"  data-ng-click="imageZoomIn('docImg'+$index)"><i class="fa fa-plus" style="color: white"></i></a>
<!--                                                        </td>
                                                        <td class="align_left">-->
                                                            <!--<button class="btn btn-danger btn-round" data-ng-click="imageZoomOut('docImg'+$index)"><i class="fa fa-minus"></i></button>-->
                                                            <a style="padding:10px 12px;font-size:12px;border-radius:25px; background-color:#e87352;"  data-ng-click="imageZoomOut('docImg'+$index)"><i class="fa fa-minus" style="color: white"></i></a>
<!--                                                        </td>
                                                        <td class="align_left">-->
                                                            <a style="padding:10px 12px;font-size:12px;border-radius:25px; background-color:#1a9ee5;" href="{{urlDomain}}/rcuTriggerDocDownload.json?uuid={{doc.docRef}}&amp;applicationId={{appDetail.applicationId}}" target="_blank"><i class="fa  fa-download" style="color: white"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                        <div>&nbsp;</div>
                                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    

</div>