<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>OTP</title>
</head>

<body>
<div class="modal-content">
  <div class="modal-header ng-scope">
    <h1 class="heading_array">{{ message }}</h1>
    <div ng-click="cancel()"></div>
    <button ng-click="cancel()" class="btn btn-danger otp_close"><i class="fa fa-times"></i></button>
    <div class="form-group">
      <div class="sourcing col-md-12">
          <div ng-repeat="item in otpData">
          <div>
              <label class="col-sm-4 col-xs-4"><b><big>{{item.applicantName}}</big></b></label>
                            <div class="col-sm-6 col-xs-6">
                                <strong><input type="text" data-ng-model="item.otp" ng-disabled="item.checked == false" placeholder="Enter OTP" class="form-control" /></strong>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <strong><input type="checkbox" data-ng-model="item.checked" ng-change="item.otp = ''" class="form-control" /></strong>
                            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer ng-scope">
    <button class="btn btn-primary" type="button" data-ng-click="verifyHtml()"><i class="fa fa-thumbs-up"></i> Submit</button>
    &nbsp;
    <button class="lightbox btn btn-primary btn-warning" data-ng-click="resendHtml()" type="button"><i class="fa fa-key"></i> Resend OTP</button>
  </div>
</div>
</body>
</html>
